<%
   sitemap = sitemap.sort_by { |entry| entry.url }
%>

<div class="row">
    <div class="col-md-12" id="<%= id %>">

        <% if title %>
            <h2>
                <%= title %>

                <span class="badge <%= badge %>">
                    <%= sitemap.size %>
                </span>
            </h2>
        <% end %>

        <% if message %>
            <p class="text text-muted">
                <%= message %>
            </p>
        <% end %>

        <% if sitemap.any? %>
            <ul>
                <%
                   seen = Set.new
                   sitemap.each do |entry|
                       next if seen.include? entry.digest
                       seen << entry.digest
                %>
                    <li class="coverage-entry" id="coverage-entry-<%= entry.digest %>">
                        <code class="status-code">[<%= entry.code %>]</code>

                        <%= link_to entry.url, target: '_blank' do %>
                            <%= url_without_scheme_host_port( entry.url ) %>
                            <i class="fa fa-external-link"></i>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        <% end %>
    </div>
</div>
