<%= simple_form_for @profile, html: { class: 'profile-form' } do |f| %>
    <%= f.error_notification %>

    <% if f.error_notification %>
        <div>
            <ul>
                <% @profile.errors.messages.each do |attribute, messages| %>
                    <li>
                        <%= link_to attribute.to_s.humanize, "#profile_#{attribute}", class: 'scroll' %>
                        <% if attribute != :plugins %>
                            <% if messages.size == 1 %>
                                <%= messages.first %>
                            <% else %>
                                <ul class="list-unstyled">
                                    <% messages.each do |message| %>
                                        <li>
                                            <span class="text text-muted">
                                                <%= message %>
                                            </span>
                                        </li>
                                    <% end %>
                                </ul>
                            <% end %>
                        <% else %>
                            <% if messages.size == 1 %>
                                <pre class="alert alert-danger"><%= messages.first %></pre>
                            <% else %>
                                <ul class="list-unstyled">
                                    <% messages.each do |message| %>
                                        <li>
                                            <pre><%= message %></pre>
                                        </li>
                                    <% end %>
                                </ul>
                            <% end %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if @profile.scans.any? %>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <%= @profile.scans.size %> associated
                    <%= 'scan'.pluralize @profile.scans.size %>
                </h2>

                <ol>
                    <% @profile.scans.each do |scan| %>
                        <li>
                            <%= link_to scan.name, [scan.site, scan] %> of
                            <%= link_to scan.site, scan.site %>
                        </li>
                    <% end %>
                </ol>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-12">
            <%= f.input :name, label: false, placeholder: '(Required) Name' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <%= f.input :description, label: false, placeholder: '(Required) Description',
                        hint: 'You can use Markdown for text formatting.',
                        input_html: { rows: 5, cols: 100 } %>
        </div>
    </div>

    <div id="scope">
        <fieldset>
            <h2 id="scope-h">
                Scope
                <span class="text-muted fs-6">Are there any restrictions regarding the scope of the scan?</span>
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :scope_page_limit, label: 'Page limit',
                                placeholder: 'Infinite' %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :scope_page_limit ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :scope_directory_depth_limit,
                                label: 'Directory depth limit',
                                placeholder: 'Infinite' %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :scope_directory_depth_limit ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :scope_include_path_patterns,
                                label: 'Path inclusion patterns',
                                placeholder: 'Include all resources',
                                as: :text,
                                input_html: { value: @profile.scope_include_path_patterns.join( "\n" ) } %>
                </div>
                <div class="col-md-6 textarea-help">
                    <%= messages_for( :scope_include_path_patterns ) %>
                    <p class="text text-muted">Input each rule in its own line.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :scope_exclude_path_patterns,
                                label: 'Path exclusion patterns',
                                as: :text,
                                placeholder: 'Do not exclude any resources',
                                input_html: { value: @profile.scope_exclude_path_patterns.join( "\n" ) } %>
                </div>
                <div class="col-md-6 textarea-help">
                    <%= messages_for( :scope_exclude_path_patterns ) %>
                    <p class="text text-muted">Input each rule in its own line.</p>
                </div>
            </div>

            <%= advanced id: 'scope',
                         message: 'In case there are redundant/infinite pages,' <<
                            ' rewrite rules or you want to provide your own sitemap.' do %>
                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :scope_exclude_binaries, label: 'Ignore binary content' %>
                    </div>
                    <div class="col-md-6 checkbox-help">
                        <%= messages_for( :scope_exclude_binaries ) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :scope_dom_depth_limit,
                                    label: 'DOM depth limit',
                                    placeholder: SCNR::Engine::Options.scope.dom_depth_limit.to_s %>
                    </div>
                    <div class="col-md-6 input-help">
                        <%= messages_for( :scope_dom_depth_limit ) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :scope_exclude_content_patterns,
                                    label: 'Content exclusion patterns',
                                    placeholder: 'Include all pages',
                                    as: :text,
                                    input_html: {
                                            value: @profile.scope_exclude_content_patterns.join( "\n" )
                                    } %>
                    </div>
                    <div class="col-md-6 textarea-help">
                        <%= messages_for( :scope_exclude_content_patterns ) %>
                        <p class="text text-muted">Input each rule in its own line.</p>
                    </div>
                </div>
                <% end %>
        </fieldset>
    </div>

    <hr/>

    <div id="audit">
        <fieldset>
            <h2 id="audit-h">
                Audit
                <span class="text-muted fs-6">How shall the web application be audited?</span>
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_forms %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_forms ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_ui_forms, label: 'Audit UI forms' %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_ui_forms ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_ui_inputs, label: 'Audit UI inputs' %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_ui_inputs ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_links %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_links ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_cookies %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_cookies ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_headers %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_headers ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_xmls, label: 'Audit XML inputs' %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_xmls ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :audit_jsons, label: 'Audit JSON inputs' %>
                </div>
                <div class="col-md-6 checkbox-help">
                    <%= messages_for( :audit_jsons ) %>
                </div>
            </div>

            <%= advanced id: 'audit',
                         message: 'In case there are inputs that need to be' <<
                            ' included/excluded or more extensively audited.' do %>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :audit_with_both_http_methods %>
                    </div>
                    <div class="col-md-6 checkbox-help">
                        <%= messages_for( :audit_with_both_http_methods ) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :audit_cookies_extensively %>
                    </div>
                    <div class="col-md-6 checkbox-help">
                        <%= messages_for( :audit_cookies_extensively ) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :audit_with_extra_parameter %>
                    </div>
                    <div class="col-md-6 checkbox-help">
                        <%= messages_for( :audit_with_extra_parameter ) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :audit_parameter_names %>
                    </div>
                    <div class="col-md-6 checkbox-help">
                        <%= messages_for( :audit_parameter_names ) %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :audit_include_vector_patterns,
                                    label: 'Parameter inclusion patterns',
                                    as: :text,
                                    placeholder: 'Include all parameters',
                                    input_html: { value: @profile.audit_include_vector_patterns.join( "\n" ) } %>
                    </div>
                    <div class="col-md-6 textarea-help">
                        <%= messages_for( :audit_include_vector_patterns ) %>
                        <p class="text text-muted">Input one pattern per line.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <%= f.input :audit_exclude_vector_patterns,
                                    label: 'Parameter exclusion patterns',
                                    as: :text,
                                    placeholder: 'Do not exclude any parameters',
                                    input_html: { value: @profile.audit_exclude_vector_patterns.join( "\n" ) } %>
                    </div>
                    <div class="col-md-6 textarea-help">
                        <%= messages_for( :audit_exclude_vector_patterns ) %>
                        <p class="text text-muted">Input one pattern per line.</p>
                    </div>
                </div>
            <% end %>
        </fieldset>
    </div>

    <hr/>

    <div id="checks">
        <fieldset>
            <h2 id="checks-h">
                Checks
                <span class="text-muted fs-6">What security checks should be performed?</span>
            </h2>

            <div class="row">
                <div class="col-md-4">
                    <input id="profile-checks-search" type="text" class="string form-control string optional"
                           placeholder="Search checks by name, description, platforms and more.">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-sm btn-light check">Check</button>
                    <button class="btn btn-sm btn-light uncheck">Uncheck</button>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Active
                        <span class="text-muted fs-6">These checks will actively engage the web application via its inputs (links, forms, etc.).</small>
                    </h3>
                    <% active = checks.select { |n, i| i[:path].include?( '/checks/active' ) } %>
                    <% if active.any? %>
                        <%= render partial: '/shared/components_twin_accordion_form',
                                   locals: {
                                           components: active,
                                           form:       f,
                                           selected:   @profile.checks,
                                           input:      :checks,
                                           class_name: 'col-md-6'
                                   } %>
                    <% else %>
                        <p class="text text-muted alert alert-info">No active checks are available.</p>
                    <% end %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h3>
                        Passive
                        <span class="text-muted fs-6">These checks will passively collect data.</span>
                    </h3>
                    <% passive = checks.select { |n, i| i[:path].include?( '/checks/passive' ) } %>
                    <% if passive.any? %>
                        <%= render partial: '/shared/components_twin_accordion_form',
                                   locals: {
                                           components: passive,
                                           form:       f,
                                           selected:   @profile.checks,
                                           input:      :checks,
                                           class_name: 'col-md-6'
                                   } %>
                    <% else %>
                        <p class="text text-muted alert alert-info">No passive checks are available.</p>
                    <% end %>
                </div>
            </div>
        </fieldset>
    </div>

    <hr/>

    <div id="plugins">
        <span id="profile_plugins"></span>
        <fieldset>
            <h2 id="plugins-h">
                Plugins
                <span class="text-muted fs-6">Assisting components to be enabled during the process.</span>
            </h2>

            <% if errors = @profile.errors.messages[:plugins]%>
                <% errors.each do |message| %>
                    <pre class="alert alert-danger"><%= message %></pre>
                <%end%>
            <%end%>

            <% if plugins.any? %>
                <%= render partial: '/shared/components_twin_accordion_form',
                           locals: {
                                   components: plugins,
                                   form:       f,
                                   selected:   @profile.plugins,
                                   input:      :plugins,
                                   class_name: 'col-md-6'
                           } %>
            <% end %>
        </fieldset>
    </div>


    <div class="form-actions">
        <%= f.button :submit, class: 'd-none',
                     value: (@profile.id ? 'Update' : 'Create') %>
    </div>
<% end %>
