<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1><%= profile.name %></h1>

            <div class="lead"><%= profile.description %></div>
        </div>
    </div>
</div>

<% if @profile.scans.any? %>
    <div class="row">
        <div class="col-md-12">
            <h2>
                <%= @profile.scans.size %> associated
                <%= 'scan'.pluralize @profile.scans.size %>
            </h2>

            <ol>
                <% @profile.scans.each do |scan| %>
                    <li>
                        <%= link_to scan.name, [scan.site, scan] %> of
                        <%= link_to scan.site, scan.site %>
                    </li>
                <% end %>
            </ol>
        </div>
    </div>
<% end %>

<section id="scope">
    <h2 id="scope-h">
        Scope
        <small>Rules about which resources to include</small>
    </h2>

    <div class="row">
        <% if profile.scope_redundant_path_patterns.any? %>
            <div class="col-md-6">
                <div>
                    <b>Redundant:</b>
                    <table class="table table-hover">
                        <tr>
                            <th>Paths matching</th>
                            <th>will be followed this amount of times</th>
                        </tr>
                        <% profile.scope_redundant_path_patterns.each do |pattern, counter| %>
                            <tr>
                                <td>
                                    <%= pattern %>
                                </td>
                                <td>
                                    <%= counter %>
                                </td>
                            </tr>
                        <% end %>

                    </table>
                </div>
                <%= messages_for :scope_redundant_path_patterns %>
            </div>
        <% end %>
    </div>

    <div class="row">
        <% if profile.scope_url_rewrites.any? %>
            <div class="col-md-6">
                <div>
                    <b>URL rewrite rules:</b>
                    <table class="table table-hover">
                        <tr>
                            <th>Paths matching</th>
                            <th>will be rewritten as</th>
                        </tr>
                        <% profile.scope_url_rewrites.each do |pattern, counter| %>
                            <tr>
                                <td>
                                    <%= pattern %>
                                </td>
                                <td>
                                    <%= counter %>
                                </td>
                            </tr>
                        <% end %>

                    </table>
                </div>
                <%= messages_for :scope_url_rewrites %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <% if profile.scope_exclude_path_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Exclude:</b>
                    <textarea disabled
                              id="profile_scope_exclude_path_patterns"><%= profile.scope_exclude_path_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_exclude_path_patterns %>
            </div>
        <% end %>

        <% if profile.scope_include_path_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Include:</b>
                    <textarea disabled
                              id="profile_scope_include_path_patterns"><%= profile.scope_include_path_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_include_path_patterns %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <% if profile.scope_restrict_paths.any? %>
            <div class="col-md-6">
                <p>
                    <b>Restrict paths:</b> <br/>
                    <textarea disabled
                              id="profile_scope_restrict_paths"><%= profile.scope_restrict_paths.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_restrict_paths %>
            </div>
        <% end %>

        <% if profile.scope_extend_paths.any? %>
            <div class="col-md-6">
                <p>
                    <b>Extend paths:</b>
                    <textarea disabled
                              id="profile_scope_extend_paths"><%= profile.scope_extend_paths.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_extend_paths %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <% if profile.scope_exclude_content_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Exclude pages:</b> <br/>
                    <textarea disabled
                              id="profile_scope_exclude_content_patterns"><%= profile.scope_exclude_content_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_exclude_content_patterns %>
            </div>
        <% end %>
    </div>
</section>

<hr/>

<section id="audit">
    <h2 id="audit-h">
        Audit
        <small>How the scanner will audit web application inputs</small>
    </h2>

    <div class="row">
        <div class="col-md-6">
            <p>
                <b>Forms:</b>
                <input <%= 'checked' if profile.audit_forms %>
                       disabled type="checkbox">
            </p>
            <%= messages_for :audit_forms %>
        </div>
        <div class="col-md-6">
            <p>
                <b>Links:</b>
                <input <%= 'checked' if profile.audit_links %>
                       disabled type="checkbox">
            </p>
            <%= messages_for :audit_links %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <b>Cookies:</b>
                <input <%= 'checked' if profile.audit_cookies %>
                       disabled type="checkbox">
            </p>
            <%= messages_for :audit_cookies %>
        </div>
    </div>

    <div class="row">
        <% if profile.audit_exclude_vector_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Exclude input vectors:</b>
                    <textarea disabled
                              id="profile_audit_exclude_vector_patterns"><%= profile.audit_exclude_vector_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :audit_exclude_vector_patterns %>
            </div>
        <% end %>

        <% if profile.audit_include_vector_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Include input vectors:</b>
                    <textarea disabled
                              id="profile_audit_audit_include_vector_patterns"><%= profile.audit_include_vector_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :audit_include_vector_patterns %>
            </div>
        <% end %>
    </div>

    <div class="row">
        <% if profile.audit_link_templates.any? %>
            <div class="col-md-6">
                <p>
                    <b>Link templates:</b>
                    <textarea disabled
                              id="profile_audit_link_templates"><%= profile.audit_link_templates.join("\n") %></textarea>
                </p>
                <%= messages_for :audit_link_templates %>
            </div>
        <% end %>
    </div>
</section>

<hr/>

<section id="input">
    <h2 id="input-h">
        Input
        <small>Values to use to fill in inputs</small>
    </h2>

    <div class="row">
        <div class="col-md-6">
            <div>
                <b>Input values:</b>
                <table class="table table-hover">
                    <tr>
                        <th>Input names matching</th>
                        <th>will be filled-in with</th>
                    </tr>
                    <% profile.input_values.each do |pattern, counter| %>
                        <tr>
                            <td>
                                <%= pattern %>
                            </td>
                            <td>
                                <%= counter %>
                            </td>
                        </tr>
                    <% end %>

                </table>
            </div>
            <%= messages_for :input_values %>
        </div>
    </div>
</section>

<hr/>

<section id="http">
    <h2 id="http-h">
        HTTP
        <small>How the scanner will communicate with the web application</small>
    </h2>

    <% if !profile.http_authentication_username.to_s.empty? && !profile.http_authentication_password.to_s.empty? %>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <b>HTTP username:</b>
                    <%= profile.http_authentication_username %>
                </p>
                <%= messages_for :http_authentication_username %>
            </div>
            <div class="col-md-6">
                <p>
                    <b>HTTP password:</b>
                    <%= profile.http_authentication_password %>
                </p>
                <%= messages_for :http_authentication_password %>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
            <p>
                <b>User agent:</b>
                <%= profile.http_user_agent %>
            </p>
            <%= messages_for :http_user_agent %>
        </div>
    </div>
    <div class="row">
        <% if profile.http_cookies.any? %>
            <div class="col-md-6">
                <p>
                    <b>Cookies:</b>
                    <textarea disabled id="profile_http_cookies"><%= profile.http_cookies.map { |k, v| "#{k}=#{v}" }.join("\n") %></textarea>
                </p>
                <%= messages_for :http_cookies %>
            </div>
        <% end %>

        <% if profile.http_request_headers.any? %>
            <div class="col-md-6">
                <p>
                    <b>Custom headers:</b>
                    <textarea disabled id="profile_http_request_headers"><%= profile.http_request_headers.map { |k, v| "#{k}=#{v}" }.join("\n") %></textarea>
                </p>
                <%= messages_for :http_request_headers %>
            </div>
        <% end %>
    </div>
</section>

<hr/>

<section id="fingerprinting">
    <fieldset>
        <h2 id="fingerprinting-h">
            Platform fingerprinting
            <small>What platforms should the scanner anticipate</small>
        </h2>

        <div class="row">
            <div class="col-md-12">
                <b>Disable fingerprinting:</b>
                <input <%= 'checked' if profile.no_fingerprinting %>
                       disabled type="checkbox">

            </div>
        </div>

        <h4>
            Platforms
            <small>Explicitly specify platforms to improve efficiency</small>
        </h4>


        <div class="row">
            <% [:os, :db, :servers, :languages, :frameworks].each_with_index do |type, i| %>

                <div class="col-md-2">
                    <h5><%= platform_type_fullname(type) %></h5>

                    <% valid_platforms(type).each do |platform| %>
                        <p>
                            <%= platform_fullname(platform) %>
                            <input <%= 'checked' if profile.platforms.include?(platform) %>
                                   disabled type="checkbox">
                        </p>
                    <% end %>
                </div>
            <% end %>
        </div>

    </fieldset>
</section>

<hr/>

<section id="checks">
    <h2 id="checks-h">
        Checks
        <small>The security checks to be run again the web application</small>
    </h2>

    <% if profile.checks.any? %>
        <%= profile.checks %>
    <% else %>
        <p class="alert alert-info">No checks have been selected.</p>
    <% end %>

</section>

<hr/>

<section id="browser_cluster">
    <h2 id="browser_cluster-h">
        Browser cluster
        <small>Browser-related options</small>
    </h2>

    <div class="row">
        <div class="col-md-6">
            <p>
                <b>Screen width:</b>
                <%= profile.browser_cluster_screen_width %>
            </p>
            <%= messages_for :browser_cluster_screen_width %>
        </div>
        <div class="col-md-6">
            <p>
                <b>Screen height:</b>
                <%= profile.browser_cluster_screen_height %>
            </p>
            <%= messages_for :browser_cluster_screen_height %>
        </div>
    </div>

</section>

<hr/>

<section id="login">
    <h2 id="login-h">
        Login check
        <small>How the scanner will determine its session's validity</small>
    </h2>

    <div class="row">
        <% if !profile.session_check_url.to_s.empty? && !profile.session_check_pattern.to_s.empty? %>
            <div class="col-md-6">
                <p>
                    <b>URL:</b>
                    <%= profile.session_check_url %>
                </p>
                <%= messages_for :session_check_url %>
            </div>
            <div class="col-md-6">
                <p>
                    <b>Pattern:</b>
                    <%= profile.session_check_pattern %>
                </p>
                <%= messages_for :session_check_pattern %>
            </div>
        <% else %>
            <div class="col-md-12">
                <p class="alert alert-info">Not configured.</p>
            </div>
        <% end %>
    </div>
</section>
