<div class="page-header">
    <h1><%= profile.name %></h1>

    <p class="lead description">
        <%= md profile.description %>
    </p>
</div>

<div class="mt-3" id="scope">
    <h2 id="scope-h">
        Scope
        <span class="text-muted fs-6">Rules governing scan coverage</span>
    </h2>

    <div id="scope_page_limit" class="row">
        <div class="col-md-6">
            <strong>Page limit:</strong>
            <%= profile.scope_page_limit || 'Infinite' %>
        </div>
        <div class="col-md-6">
            <%= messages_for :scope_page_limit %>
        </div>
    </div>

    <div id="scope_depth_limit" class="row">
      <div class="col-md-6">
        <strong>Depth limit:</strong>
        <%= profile.scope_depth_limit || 'Infinite' %>
      </div>
      <div class="col-md-6">
        <%= messages_for :scope_depth_limit %>
      </div>
    </div>

    <div id="scope_directory_depth_limit" class="row">
        <div class="col-md-6">
            <strong>Directory depth limit:</strong>
            <%= profile.scope_directory_depth_limit || 'Infinite' %>
        </div>
        <div class="col-md-6">
            <%= messages_for :scope_directory_depth_limit %>
        </div>
    </div>

    <div id="scope_include_path_patterns" class="row">
        <div class="col-md-6">
            <strong>Path inclusion patterns:</strong>

            <% if profile.scope_include_path_patterns.empty? %>
                Include all resources.
            <% else %>
                <ol>
                <% profile.scope_include_path_patterns.each do |pattern| %>
                    <li>
                        <%= pattern %>
                    </li>
                <% end %>
                </ol>
            <% end %>
        </div>
        <div class="col-md-6">
            <%= messages_for :scope_include_path_patterns %>
        </div>
    </div>

    <div id="scope_exclude_path_patterns" class="row">
        <div class="col-md-6">
            <strong>Path exclude patterns:</strong>

            <% if profile.scope_exclude_path_patterns.empty? %>
                Do not exclude any resources.
            <% else %>
                <ol>
                    <% profile.scope_exclude_path_patterns.each do |pattern| %>
                        <li>
                            <%= pattern %>
                        </li>
                    <% end %>
                </ol>
            <% end %>
        </div>
        <div class="col-md-6">
            <%= messages_for :scope_exclude_path_patterns %>
        </div>
    </div>

    <%= advanced id: 'scope' do %>
        <div id="scope_exclude_binaries" class="row">
            <div class="col-md-6">
                <strong>Ignore binary content:</strong>
                <input <%= 'checked' if profile.scope_exclude_binaries? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </div>
            <div class="col-md-6">
                <%= messages_for( :scope_exclude_binaries ) %>
            </div>
        </div>

        <div id="scope_dom_depth_limit" class="row">
            <div class="col-md-6">
                <strong>DOM depth limit:</strong>
                <%= profile.scope_dom_depth_limit || 'Infinite' %>
            </div>
            <div class="col-md-6">
                <%= messages_for( :scope_dom_depth_limit ) %>
            </div>
        </div>

        <div id="scope_exclude_content_patterns" class="row">
            <div class="col-md-6">
                <strong>Content exclusion patterns:</strong>

                <% if profile.scope_exclude_content_patterns.empty? %>
                    Include all pages.
                <% else %>
                    <ol>
                        <% profile.scope_exclude_content_patterns.each do |pattern| %>
                            <li>
                                <%= pattern %>
                            </li>
                        <% end %>
                    </ol>
                <% end %>
            </div>
            <div class="col-md-6">
                <%= messages_for( :scope_exclude_content_patterns ) %>
            </div>
        </div>
    <% end %>
</div>

<hr/>

<div class="mt-3" id="audit">
    <h2 id="audit-h">
        Audit
        <span class="text-muted fs-6">How the scanner will audit web application inputs</span>
    </h2>

    <div id="audit_forms" class="row">
        <div class="col-md-6">
            <p>
                <strong>Forms:</strong>
                <input <%= 'checked' if profile.audit_forms? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_forms %>
        </div>
    </div>

    <div id="audit_ui_forms" class="row">
        <div class="col-md-6">
            <p>
                <strong>UI forms:</strong>
                <input <%= 'checked' if profile.audit_ui_forms? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_ui_forms %>
        </div>
    </div>

    <div id="audit_ui_inputs" class="row">
        <div class="col-md-6">
            <p>
                <strong>UI inputs:</strong>
                <input <%= 'checked' if profile.audit_ui_inputs? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_ui_inputs %>
        </div>
    </div>

    <div id="audit_links" class="row">
        <div class="col-md-6">
            <p>
                <strong>Links:</strong>
                <input <%= 'checked' if profile.audit_links? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_links %>
        </div>
    </div>

    <div id="audit_cookies" class="row">
        <div class="col-md-6">
            <p>
                <strong>Cookies:</strong>
                <input <%= 'checked' if profile.audit_cookies? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_cookies %>
        </div>
    </div>

    <div id="audit_headers" class="row">
        <div class="col-md-6">
            <p>
                <strong>Headers:</strong>
                <input <%= 'checked' if profile.audit_headers? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_headers %>
        </div>
    </div>

    <div id="audit_xmls" class="row">
        <div class="col-md-6">
            <p>
                <strong>XML inputs:</strong>
                <input <%= 'checked' if profile.audit_xmls? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_xmls %>
        </div>
    </div>

    <div id="audit_jsons" class="row">
        <div class="col-md-6">
            <p>
                <strong>JSON inputs:</strong>
                <input <%= 'checked' if profile.audit_jsons? %>
                       disabled type="checkbox" class="form-check-input ms-1">
            </p>
        </div>
        <div class="col-md-6">
            <%= messages_for :audit_jsons %>
        </div>
    </div>

    <%= advanced id: 'audit' do %>
        <div id="audit_with_both_http_methods" class="row">
            <div class="col-md-6">
                <p>
                    <strong>Audit with both http methods:</strong>
                    <input <%= 'checked' if profile.audit_with_both_http_methods? %>
                           disabled type="checkbox" class="form-check-input ms-1">
                </p>
            </div>
            <div class="col-md-6">
                <%= messages_for :audit_with_both_http_methods %>
            </div>
        </div>

        <div id="audit_cookies_extensively" class="row">
            <div class="col-md-6">
                <p>
                    <strong>Audit cookies extensively:</strong>
                    <input <%= 'checked' if profile.audit_cookies_extensively? %>
                           disabled type="checkbox" class="form-check-input ms-1">
                </p>
            </div>
            <div class="col-md-6">
                <%= messages_for :audit_cookies_extensively %>
            </div>
        </div>

        <div id="audit_with_extra_parameter" class="row">
            <div class="col-md-6">
                <p>
                    <strong>Audit with extra parameter:</strong>
                    <input <%= 'checked' if profile.audit_with_extra_parameter? %>
                           disabled type="checkbox" class="form-check-input ms-1">
                </p>
            </div>
            <div class="col-md-6">
                <%= messages_for :audit_with_extra_parameter %>
            </div>
        </div>

        <div id="audit_parameter_names" class="row">
            <div class="col-md-6">
                <p>
                    <strong>Audit parameter names:</strong>
                    <input <%= 'checked' if profile.audit_parameter_names? %>
                           disabled type="checkbox" class="form-check-input ms-1">
                </p>
            </div>
            <div class="col-md-6">
                <%= messages_for :audit_parameter_names %>
            </div>
        </div>

        <div id="audit_include_vector_patterns" class="row">
            <div class="col-md-6">
                <p>
                    <strong>Parameter inclusion patterns:</strong>

                    <% if profile.audit_include_vector_patterns.empty? %>
                        Include all parameters.
                    <% else %>
                    <ol>
                        <% profile.audit_include_vector_patterns.each do |pattern| %>
                            <li>
                                <%= pattern %>
                            </li>
                        <% end %>
                    </ol>
                    <% end %>
                </p>
            </div>
            <div class="col-md-6">
                <%= messages_for :audit_include_vector_patterns %>
            </div>
        </div>

        <div id="audit_exclude_vector_patterns" class="row">
            <div class="col-md-6">
                <p>
                    <strong>Parameter exclusion patterns:</strong>

                    <% if profile.audit_exclude_vector_patterns.empty? %>
                        Do not exclude any parameters.
                    <% else %>
                    <ol>
                        <% profile.audit_exclude_vector_patterns.each do |pattern| %>
                            <li>
                                <%= pattern %>
                            </li>
                        <% end %>
                    </ol>
                <% end %>
                </p>
            </div>
            <div class="col-md-6">
                <%= messages_for :audit_exclude_vector_patterns %>
            </div>
        </div>
    <% end %>
</div>

<hr/>

<div class="mt-3" id="checks">
    <h2 id="checks-h">
        Checks
        <span class="text-muted fs-6">The security checks to be run again the web application</span>
    </h2>

    <% if profile.checks.any? %>
        <div class="row">
            <div id="checks-active" class="col-md-12">
                <h3>
                    Active
                    <span class="text-muted fs-6">These checks will actively engage the web application via its inputs (links, forms, etc.).</span>
                </h3>

                <% active = profile.checks_with_info.select { |n, i| i[:path].include?( '/checks/active' ) } %>
                <% if active.any? %>
                    <%= render partial: '/shared/components_twin_accordion',
                               locals: {
                                       components: active,
                                       selected:   profile.checks,
                                       input:      :checks,
                                       class_name: 'col-md-6'
                               } %>
                <% else %>
                    <p class="text text-muted alert alert-info">
                        No active checks have been selected.
                    </p>
                <% end %>
            </div>
        </div>
        <div class="row">
            <div id="checks-passive" class="col-md-12">
                <h3>
                    Passive
                    <span class="text-muted fs-6">These checks will passively collect data.</span>
                </h3>

                <% passive = profile.checks_with_info.select { |n, i| i[:path].include?( '/checks/passive' ) } %>
                <% if passive.any? %>
                    <%= render partial: '/shared/components_twin_accordion',
                               locals: {
                                       components: passive,
                                       selected:   profile.checks,
                                       input:      :checks,
                                       class_name: 'col-md-6'
                               } %>
                <% else %>
                    <p class="text text-muted alert alert-info">
                        No passive checks have been selected.
                    </p>
                <% end %>
            </div>
        </div>
    <% else %>
        <p class="alert alert-info">No checks have been selected.</p>
    <% end %>
</div>

<hr/>

<div class="mt-3" id="plugins">
    <h2 id="plugins-h">
        Plugins
        <span class="text-muted fs-6">Assisting components to be enabled during the process.</span>
    </h2>

    <% if @profile.plugins.any? %>
        <%= render partial: '/shared/components_twin_accordion',
                   locals: {
                           components: profile.plugins_with_info,
                           selected:   @profile.plugins,
                           input:      :plugins,
                           class_name: 'col-md-6'
                   } %>
    <% else %>
        <p class="alert alert-info">No plugins have been selected.</p>
    <% end %>
</div>
