<div class="page-header">
    <h1><%= profile.name %></h1>

    <div class="lead"><%= profile.description %></div>
</div>

<% if profile.scans.any? %>
    <div class="row">
        <div class="col-md-12">
            <h2>
                <%= profile.scans.size %> associated
                <%= 'scan'.pluralize profile.scans.size %>
            </h2>

            <ol>
                <% profile.scans.each do |scan| %>
                    <li>
                        <%= link_to scan.name, [scan.site, scan] %> of
                        <%= link_to scan.site, scan.site %>
                    </li>
                <% end %>
            </ol>
        </div>
    </div>
<% end %>

<section id="scope">
    <h2 id="scope-h">
        Scope
        <small>Rules about which resources to include</small>
    </h2>

    <div class="row">
        <% if profile.scope_exclude_path_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Exclude:</b>
                    <textarea disabled
                              id="profile_scope_exclude_path_patterns"><%= profile.scope_exclude_path_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_exclude_path_patterns %>
            </div>
        <% end %>

        <% if profile.scope_include_path_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Include:</b>
                    <textarea disabled
                              id="profile_scope_include_path_patterns"><%= profile.scope_include_path_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_include_path_patterns %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <% if profile.scope_restrict_paths.any? %>
            <div class="col-md-6">
                <p>
                    <b>Restrict paths:</b> <br/>
                    <textarea disabled
                              id="profile_scope_restrict_paths"><%= profile.scope_restrict_paths.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_restrict_paths %>
            </div>
        <% end %>

        <% if profile.scope_extend_paths.any? %>
            <div class="col-md-6">
                <p>
                    <b>Extend paths:</b>
                    <textarea disabled
                              id="profile_scope_extend_paths"><%= profile.scope_extend_paths.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_extend_paths %>
            </div>
        <% end %>
    </div>
    <div class="row">
        <% if profile.scope_exclude_content_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Exclude pages:</b> <br/>
                    <textarea disabled
                              id="profile_scope_exclude_content_patterns"><%= profile.scope_exclude_content_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :scope_exclude_content_patterns %>
            </div>
        <% end %>
    </div>
</section>

<hr/>

<section id="audit">
    <h2 id="audit-h">
        Audit
        <small>How the scanner will audit web application inputs</small>
    </h2>

    <div class="row">
        <div class="col-md-6">
            <p>
                <b>Forms:</b>
                <input <%= 'checked' if profile.audit_forms %>
                       disabled type="checkbox">
            </p>
            <%= messages_for :audit_forms %>
        </div>
        <div class="col-md-6">
            <p>
                <b>Links:</b>
                <input <%= 'checked' if profile.audit_links %>
                       disabled type="checkbox">
            </p>
            <%= messages_for :audit_links %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <p>
                <b>Cookies:</b>
                <input <%= 'checked' if profile.audit_cookies %>
                       disabled type="checkbox">
            </p>
            <%= messages_for :audit_cookies %>
        </div>
    </div>

    <div class="row">
        <% if profile.audit_exclude_vector_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Exclude input vectors:</b>
                    <textarea disabled
                              id="profile_audit_exclude_vector_patterns"><%= profile.audit_exclude_vector_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :audit_exclude_vector_patterns %>
            </div>
        <% end %>

        <% if profile.audit_include_vector_patterns.any? %>
            <div class="col-md-6">
                <p>
                    <b>Include input vectors:</b>
                    <textarea disabled
                              id="profile_audit_audit_include_vector_patterns"><%= profile.audit_include_vector_patterns.join("\n") %></textarea>
                </p>
                <%= messages_for :audit_include_vector_patterns %>
            </div>
        <% end %>
    </div>
</section>

<hr/>

<section id="checks">
    <h2 id="checks-h">
        Checks
        <small>The security checks to be run again the web application</small>
    </h2>

    <% if profile.checks.any? %>
        <%= profile.checks %>
    <% else %>
        <p class="alert alert-info">No checks have been selected.</p>
    <% end %>

</section>
