<%
    last_severity = nil
    last_name     = nil

    chart_data = @issues_summary[:chart_data]
    site       = @issues_summary[:site]

    scoped_find_each( @issues_summary[:issues] ) do |issue|
        severity    = issue.severity
%>

<% if severity.name != last_severity %>

    <%
       last_name = nil
       if last_severity %>
            </ul>
            </div>
            </div>
            </div>
            </div>
        <hr/>
    <% end %>

    <div class="row" id="issue-summary-severity-<%= severity %>">
        <div class="col-md-12">

            <h3>
                <span class="text-severity text-severity-<%= severity %>">
                    <%= severity.capitalize %> severity
                </span>

                <span class="badge-severity badge-severity-<%= severity %>">
                    <%= chart_data[:severities][severity.to_sym] %>
                </span>
            </h3>
            <div class="cascade-container">
<% end %>

        <% if issue.type.name != last_name %>
            <% if last_name %>
                </ul>
                </div>
            <% end %>

            <div class="issue-summary-check-<%= issue.type.check_shortname %>">
                <h4>
                    <%= issue.type.name %>

                    <span class="badge-severity badge-severity-<%= severity %>">
                        <%= chart_data[:issue_names][issue.type.name] %>
                    </span>

                    <small>via:</small>
                </h4>
            <ul class="list-unstyled">
        <% end %>

            <li id="summary-issue-<%= issue.digest %>" class="with-list-info issue-summary-vector-<%= issue.vector.kind %>">
                <%= link_to site_scan_revision_issue_path( issue.site, issue.scan, issue.revision, issue ), title: 'Inspect' do %>
                    <i class="fa fa-eye"></i>
                <% end %>

                <code><%= issue.vector.kind %></code>

                <% if issue.vector.affected_input_name %>
                    input <code><%= issue.vector.affected_input_name %></code>
                <% end %>

                at

                <%= link_to_url_with_external external: issue.referring_page.dom.url,
                                              internal: '#',
                                              display_path_only: true %>

                <% if issue.referring_page.dom.url != issue.vector.action %>
                    pointing to

                    <%= link_to_url_with_external external: issue.vector.action,
                                                  internal: '#',
                                                  display_path_only: true %>
                <% end %>

                <% if !@revision %>
                    <ul class="issue-summary-info list-info">
                        <li>
                            <span>
                                Found by the
                                <%= link_to "#{issue.revision.index.ordinalize} revision",
                                            [site, issue.revision.scan, issue.revision] %>

                                <% if !@scan %>
                                    of
                                    <%= link_to issue.revision.scan.name, [site, issue.revision.scan] %>.
                                <% end %>
                            </span>
                        </li>
                    </ul>
                <% end %>
            </li>


<%
   last_name = issue.type.name
   last_severity = issue.severity.name
   end %>
</ul>
</div>
</div>
</div>
</div>
