<%
    last_severity = nil
    last_name     = nil

    chart_data = @issues_summary[:chart_data]
    site       = @issues_summary[:site]

    scoped_find_each( @issues_summary[:issues] ) do |issue|
        severity    = issue.severity
%>

<% if severity.name != last_severity %>

    <%
       last_name = nil
       if last_severity %>
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
        <hr/>
    <% end %>

    <div class="row" id="issue-summary-severity-<%= severity %>">
        <div class="col-md-12">

            <h3>
                <span class="text-severity text-severity-<%= severity %>">
                    <%= severity.capitalize %> severity
                </span>

                <span class="badge-severity badge-severity-<%= severity %>">
                    <%= chart_data[:severities][severity.to_sym] %>
                </span>
            </h3>
            <div class="cascade-container">
<% end %>

        <% if issue.type.name != last_name %>
            <% if last_name %>
                </tbody>
                </table>
                </div>
            <% end %>

            <div class="issue-summary-check-<%= issue.type.check_shortname %>">
                <h4>
                    <%= issue.type.name %>

                    <span class="badge-severity badge-severity-<%= severity %>">
                        <%= chart_data[:issue_names][issue.type.name] %>
                    </span>

                    <small>via:</small>
                </h4>

            <table class="table table-condensed table-borderless table-hover
                table-striped table-issue-summary">

                <thead>
                    <th></th>

                    <th>Type</th>

                    <% if issue.vector.affected_input_name %>
                        <th>Name</th>
                    <% end %>

                    <% if !@sitemap_entry %>
                        <th>Resource</th>
                    <% end %>

                    <% if !@scan || !@revision %>
                        <th>Logged by</th>
                    <% end %>
                </thead>
                <tbody>
        <% end %>

            <tr id="summary-issue-<%= issue.digest %>"
                class="issue-summary-vector-<%= issue.vector.kind %>">

                <td>
                    <%= link_to site_scan_revision_issue_path( issue.site, issue.scan, issue.revision, issue ),
                                title: issue.state.humanize do %>
                        <i class="fa fa-<%= issue_state_to_icon issue.state %>">
                        </i>
                    <% end %>
                </td>

                <td>
                    <code><%= issue.vector.kind %></code>
                </td>

                <% if issue.vector.affected_input_name %>
                    <td>
                        <code><%= issue.vector.affected_input_name %></code>
                    </td>
                <% end %>

                <% if !@sitemap_entry %>
                    <td>
                        <%= link_to_url_with_external(
                                external: issue.vector.action,
                                internal: sitemap_entry_url( issue.vector.sitemap_entry ),
                                display_path_only: true
                            )
                        %>
                    </td>
                <% end %>

                <% if !@scan || !@revision %>
                    <td>
                        <% if @scan %>
                            <%= link_to "#{issue.revision.index.ordinalize} revision",
                                        site_scan_revision_path(
                                                site,
                                                issue.revision.scan,
                                                issue.revision,
                                                filter_params
                                        ) %>
                        <% else %>
                            <%= link_to issue.revision.index.ordinalize,
                                        site_scan_revision_path(
                                                site,
                                                issue.revision.scan,
                                                issue.revision,
                                                filter_params
                                        ) %>

                            <%= link_to issue.revision.scan.name,
                                        site_scan_path(
                                                site,
                                                issue.revision.scan,
                                                filter_params
                                        ) %>
                        <% end %>
                    </td>
                <% end %>
            </tr>

<%
   last_name = issue.type.name
   last_severity = issue.severity.name
   end %>
</tbody>
</table>
</div>
</div>
</div>
</div>
