<%
   site       = @issues_summary[:site]
   site_scans = @issues_summary[:scans]
%>

<ul id="sidebar" class="nav nav-pills nav-stacked">

    <li>&nbsp;</li>

    <% if request.path != site_path( @site ) %>
    <li>
        <%= link_to @site do %>
            Site overview
        <% end %>

        <hr/>
    </li>
    <% end %>

    <% if @scan %>
    <li class="<%= 'active' if request.path == site_scan_path( @site, @scan ) %>">
        <%= link_to [@site, @scan] do %>
            Scan overview
        <% end %>

        <hr/>
    </li>
    <% end %>

    <li>
        <ul class="nav nav-vertical">
            <% site_scans.each do |scan| %>
            <% next if !policy(scan).show? %>

            <li class="with-list-info">

                <% if !@scan %>
                <span class="sidebar-scan-actions">
                    <% if policy(scan).edit? %>
                        <%= link_to edit_site_scan_path( site, scan ),
                                    class: 'btn btn-xs btn-warning' do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>
                    <% end %>

                    <% if policy(scan).destroy? %>
                        <%= link_to [site, scan], method: :delete,
                                    class: 'btn btn-xs btn-danger',
                                    data: { confirm: 'Are you sure?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                    <% end %>
                </span>

                <%= link_to [scan.site, scan], class: 'with-actions' do %>
                    <%= scan.name %>

                    <span class="text-muted">
                        &ndash; <%= pluralize scan.sitemap_entries.size, 'page' %>,
                        <%= pluralize scan.issues.size, 'issue' %>.
                    </span>
                <% end %>

                <p class="text-muted">
                    <small>
                        On <%= link_to scan.plan.name, '#' %> plan, using
                        <%= link_to scan.profile, scan.profile %>.

                        <% if scan.schedule.recurring? %>
                            Running <%= link_to scan.schedule, '#' %>.
                        <% end %>
                    </small>
                </p>
                <% end %>

                <% if @scan && scan.id == @scan.id %>
                <ul class="nav nav-pills nav-stacked">
                    <% scan.revisions.each do |revision| %>
                    <li class="<%= 'active' if @revision && @revision.id == revision.id %>">

                        <%= link_to [revision.scan.site, revision.scan, revision] do %>
                            #<%= revision.index %>

                            <span class="text-muted">
                                &ndash; 10 fixed issues, <%= revision.issues.size %> new.
                            </span>
                        <% end %>
                    </li>
                    <% end %>
                </ul>
                <% end %>
            </li>
            <% end %>
        </ul>
    </li>
</ul>
