<%
   sitemap = @issues_summary[:sitemap_with_issues]
   filter  = params[:filter][:pages]
%>

<h3>
    Pages with issues

    <span class="badge">
        <%= sitemap.size %>
    </span>
</h3>

<ul class="sitemap">
    <li id="sitemap-entry-all" class="sitemap-entry <%= 'active' if filter.empty? %>">
        <%= link_to 'All', filter_params_without_page %>
    </li>

    <% scoped_find_each(sitemap) do |entry|
        active = filter.include?( entry.id.to_s )
    %>

        <li
            class="with-list-info sitemap-entry
                <%= 'active' if active %>
                sitemap-entry-with<% 'out' if entry.issues.size == 0 %>-issues"
            id="sitemap-entry-<%= entry.id %>"
        >
            <%= link_to_url_with_external(
                    external: entry.url,
                    internal: sitemap_entry_url( entry ),
                    display_path_only: true,
                    class: ("text-severity text-severity-#{entry.issues.max_severity}" if !active)
                )
            %>

            <% if entry.revision %>
                <ul class="list-info">
                    <li>
                        <span>
                            Has <%= pluralize entry.issues.size, 'issue' %>.
                        </span>
                    </li>
                </ul>
            <% end %>
        </li>
    <% end %>
</ul>
