<%
   sitemap            = @issues_summary[:sitemap_with_issues]
   sitemap_data       = @issues_summary[:sitemap_data]

   filter             = params[:filter][:pages]
   total_max_severity = sitemap_data[:max_severity]
   total_issue_count  = sitemap_data[:issue_count]
%>

<ul class="sitemap">
    <li
        id="sitemap-entry-all"
        class="bg-severity-<%= total_max_severity %> sitemap-entry <%= 'active' if filter.empty? %>"
        title="<%= pluralize total_issue_count, 'issue' %> with a maximum severity of <%= total_max_severity %>."
    >
        <%= link_to "All #{pluralize sitemap.size, 'page'}", filter_params_without_page %>

        <%= link_to filter_params_without_page do %>
            <span class="badge badge-severity-<%= total_max_severity %>">
                <%= total_issue_count %>
            </span>
        <% end %>
    </li>

    <% sitemap.each do |url, data|
        active       = filter.include?( data[:id].to_s )
        max_severity = data[:max_severity]
        issue_count  = data[:issue_count]
    %>

        <li
            class="with-list-info sitemap-entry
                bg-severity-<%= max_severity %>
                <%= 'active' if active %>
                sitemap-entry-with<% 'out' if issue_count == 0 %>-issues"
            id="sitemap-entry-<%= data[:id] %>"
            title="<%= pluralize issue_count, 'issue' %> with a <%= 'maximum' if issue_count > 1 %> severity of <%= max_severity %>."
        >

            <%= link_to_url_with_external(
                    external: url,
                    internal: data[:internal],
                    display_path_only: true,
                    class: ("text-severity text-severity-#{max_severity}" if !active)
                )
            %>

            <%= link_to data[:internal] do %>
                <span class="badge badge-severity-<%= max_severity %>">
                    <%= data[:issue_count] %>
                </span>
            <% end %>
        </li>
    <% end %>
</ul>
