<%
   scans        = @issues_summary[:scans]
   revisions    = @issues_summary[:revisions]
   sitemap      = @issues_summary[:sitemap]
   sitemap_with_issues = @issues_summary[:sitemap_with_issues]
   issues       = @issues_summary[:issues]
   max_severity = @issues_summary[:max_severity]
%>

<div id="summary-statistics">
    <div class="row">
        <% if !@sitemap_entry %>
            <div class="col-md-4">
                <h3>
                    <strong><%= sitemap_with_issues.size %></strong>
                    <%= 'page'.pluralize sitemap_with_issues.size %>
                    with issues,

                    <small>
                        out of
                        <strong>
                            <%= sitemap.size %>
                        </strong>
                    </small>
                </h3>
            </div>
        <% end %>

        <div class="col-md-<%= @sitemap_entry ? '6' : '4' %>">
            <h3>
                <strong><%= issues.size %></strong>
                <%= 'issues'.pluralize issues.size %>,

                <% if issues.size > 0 %>
                    <small>
                        with a maximum severity of

                        <span class="label-severity label-severity-<%= max_severity %>">
                            <%= max_severity.capitalize %>
                        </span>
                    </small>
                <% end %>
            </h3>
        </div>

        <div class="col-md-<%= @sitemap_entry ? '6' : '4' %>">
            <h3>
                <strong><%= revisions.size %></strong>
                <%= 'revision'.pluralize revisions.size %>,

                <small>
                    from <strong><%= scans.size %></strong>
                    <%= 'scan'.pluralize(scans.size) %>
                </small>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>
                <% if @sitemap_entry %>
                    Page
                    <%= link_to_url_with_external(
                                external: @sitemap_entry.url,
                                internal: sitemap_entry_url( @sitemap_entry ),
                                display_path_only: true,
                                class: "text-severity text-severity-#{max_severity}"
                        )
                    %>
                    has
                <% else %>
                    There <%= issues.size == 1 ? 'is' : 'are' %>
                <% end %>

                <%
                    severities_h = @issues_summary[:chart_data][:severities]
                    severities_a = severities_h.keys

                    severities_a.each_with_index do |severity, i|
                %>
                    <%= 'and' if i > 0 && severity == severities_a[severities_a.size-1] %>

                    <a href="#issue-summary-severity-<%= severity %>">
                        <span class="text-severity text-severity-<%= severity %>">
                            <strong><%= severities_h[severity] %> <%= severity %></strong>
                        </span>
                    </a>
                    <%= ',' unless i > severities_a.size - 3 %>
                <% end %>

                severity <%= 'issue'.pluralize(issues.size) %>.
            </h4>

            <div id="summary-charts-issues-container">
                <div id='chart-issues'>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    <%= render partial: 'shared/issues_summary/chart_load_data.js',
        locals: { data: @issues_summary[:chart_data] } %>
</script>
