<%
    IssueTypeSeverity::SEVERITIES.each do |severity|
    issues = @site.issues.send("#{severity}_severity")
    last_name = nil
%>

<div class="row issue-summary-severity-<%= severity %>">
    <div class="col-md-12">

        <h3>
            <%= severity.capitalize %> severity

            <span class="badge-severity badge-severity-<%= severity %>">
                <%= @site.issues.send("#{severity}_severity").size %>
            </span>
        </h3>

        <div class="cascade-container">
            <% issues.each do |issue| %>

            <% if issue.type.name != last_name %>
                <% if last_name %>
                    </ul>
                    </div>
                <% end %>

                <div class="issue-summary-check-<%= issue.type.check_shortname %>">
                    <h4>
                        <%= issue.type.name %>,

                        <small>via:</small>
                    </h4>
                <ul>
            <% end %>

                <li class="issue-summary-vector-<%= issue.vector.kind %>">
                    <code><%= issue.vector.kind %></code>

                    <% if issue.vector.affected_input_name %>
                        input <code><%= issue.vector.affected_input_name %></code>
                    <% end %>

                    at

                    <%= link_to_url_with_external issue.vector.action, '#' %>
                </li>

            <%
               last_name = issue.type.name
               end %>

            </ul>
            </div>
        </div>
    </div>
</div>

<hr/>
<% end %>
