<%= simple_form_for @user_agent, html: { class: 'user_agent-form' } do |f| %>
    <%= f.error_notification %>

    <% if @user_agent.scans.any? %>
        <div class="row">
            <div class="col-md-12">
                <h2>
                    <%= @user_agent.scans.size %> associated
                    <%= 'scan'.pluralize @user_agent.scans.size %>
                </h2>

                <ol>
                    <% @user_agent.scans.each do |scan| %>
                        <li>
                            <%= link_to scan.name, [scan.site, scan] %> of
                            <%= link_to scan.site, scan.site %>
                        </li>
                    <% end %>
                </ol>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-6">
            <%= f.input :name %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <%= f.input :http_user_agent, as: :string,
                        label: 'Identification string'
            %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <%= f.input :browser_cluster_screen_width,
                        label: 'Screen width'
            %>
        </div>
        <div class="col-md-6">
            <%= messages_for( :browser_cluster_screen_width ) %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <%= f.input :browser_cluster_screen_height,
                        label: 'Screen height'
            %>
        </div>
        <div class="col-md-6">
            <%= messages_for( :browser_cluster_screen_height ) %>
        </div>
    </div>
<% end %>
