<table id="table" class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>Default</th>
        <th>Name</th>
        <th>Identification</th>
        <th>Resolution</th>
        <th>Scans</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @user_agents.each do |user_agent| %>
        <tr>
            <td>
                <%= simple_form_for user_agent,
                                    url: default_user_agent_path( user_agent ),
                                    method: :patch, remote: true,
                                    html: { onsubmit: 'loading();' } do %>
                    <input type="radio"
                           class="make-default"
                           onclick="$(this).submit()"
                           name="id_<%= user_agent.id %>"
                           id="id_<%= user_agent.id %>"
                           autocomplete="off"
                           <%= 'checked="checked"'.html_safe if user_agent.default? %>
                           <%= 'disabled' if user_agent.default? %>
                    >
                <% end %>
            </td>

            <td>
                <%= link_to user_agent.name, user_agent %>
            </td>

            <td>
                <%= user_agent.http_user_agent %>
            </td>

            <td>
                <%= user_agent.browser_cluster_screen_width %>x<%= user_agent.browser_cluster_screen_height %>
            </td>

            <td>
                <%= user_agent.scans.size %>
            </td>

            <td>
                <%= render 'actions', user_agent: user_agent %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
