<%
   not_available = '<p class="alert alert-info">Not available</p>'.html_safe
%>

<%= render 'issues/remarks',  issue: issue %>
<%= render 'issues/platform', issue: issue %>

<% if issue.vector.seed || issue.signature || issue.proof %>
<table class="table table-condensed table-fixed">
    <thead>
        <tr>
            <% if issue.vector.seed %>
                <th>
                    Injected seed

                    <a href="#" rel="tooltip"
                       title="This seed uncovered the vulnerable vector during the audit.">
                        <i class="fa fa-info"></i>
                    </a>
                </th>
            <% end %>

            <% if issue.signature %>
                <th>
                    Signature

                    <a href="#" rel="tooltip"
                       title="This signature was used to detect the issue.">
                        <i class="fa fa-info"></i>
                    </a>
                </th>
            <% end %>

            <% if issue.proof %>
                <th>
                    Proof

                    <a href="#" rel="tooltip"
                       title="This string was used to verify the existence of the issue.">
                        <i class="fa fa-info"></i>
                    </a>
                </th>
            <% end %>

        </tr>
    </thead>
    <tr>
        <% if issue.vector.seed %>
            <td>
                <%= highlight_seed( issue ) %>
            </td>
        <% end %>

        <% if issue.signature %>
            <td>
                <%= code_highlight issue.signature, :ruby %>
            </td>
        <% end %>

        <% if issue.proof %>
            <td>
                <%= code_highlight( issue.proof ) %>
            </td>
        <% end %>
    </tr>
</table>
<% end %>
