<%= render 'issues/identification/platform', issue: issue %>
<%= render 'issues/identification/remarks',  issue: issue %>

<% has_proof = false %>

<% if !@issue.proof.to_s.empty? && !@issue.page.response.to_s.empty? %>
    <% has_proof = true %>

    <% if @issue.page.dom.transitions.any? &&
            (hp = highlight_proof( @issue.page.dom.body.to_s, @issue.proof )) %>
        <pre class="highlight-container code-container"><%= hp %></pre>

        <p class="text-muted">
            Evaluated browser DOM.
        <p>
    <% elsif (hp = highlight_proof( @issue.page.response.to_s, @issue.proof )) %>
        <pre class="highlight-container code-container"><%= hp %></pre>

        <p class="text-muted">
            Raw HTTP response - binary bodies will not be displayed.
        </p>
    <% else %>
        <%= code_highlight( issue.proof ) %>
    <% end %>

<% end %>

<% if @issue.page.dom.execution_flow_sinks.any? %>
    <% has_proof = true %>

    <p>
        This issue is accompanied by successful execution of a JavaScript payload:
    </p>

    <%= render 'issues/advanced/page/sink/execution_flow',
               page: @issue.page,
               id:   'identification' %>
<% end %>

<% if !has_proof && !@issue.page.response.to_s.empty? %>
    <% if @issue.page.dom.transitions.any? %>
        <%= code_highlight( @issue.page.dom.body.to_s ) %>

        <p class="text-muted">
            Evaluated browser DOM.
        <p>
    <% else %>
        <%= code_highlight( @issue.page.response.to_s ) %>

        <p class="text-muted">
            Raw HTTP response - binary bodies will not be displayed.
        </p>
    <% end %>
<% end %>
