<%=
    if !@issue.vector.source.to_s.empty?
        highlight_vector_source( @issue.vector )
    end
%>

<table class="table table-condensed table-fixed">
    <colgroup>
        <col width="10%"/>
    </colgroup>

    <thead>
        <tr>
            <th>Type</th>

            <% if @issue.active? %>
                <th>
                    <%= [:xml, :json].include?( @issue.vector.kind ) ? 'Location' : 'Name' %>
                </th>
            <% end %>

            <th>At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tr>
        <td><code><%= @issue.vector.kind %></code></td>

        <% if @issue.active? %>
            <td><code><%= @issue.vector.affected_input_name %></code></td>
        <% end %>

        <td>
            <%= link_to_url_with_external external: @issue.referring_page.dom.url,
                                          internal: '#',
                                          display_path_only: true %>
        </td>
        <td>
            <%= link_to_url_with_external external: @issue.vector.action,
                                          internal: '#',
                                          display_path_only: true %>
        </td>
    </tr>
</table>

<% if @issue.vector.default_inputs.any? && @issue.vector.inputs.any? %>
    <table class="table table-condensed table-fixed vector-inputs">
        <thead>
            <tr>
                <th>Original inputs</th>
                <th>Submitted inputs</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <%= render '/shared/hash',
                               object: @issue.vector.default_inputs,
                               highlight: @issue.vector.affected_input_name,
                               fixed: true,
                               code: true
                    %>
                </td>
                <td>
                    <%= render '/shared/hash',
                               object: @issue.vector.inputs,
                               highlight: @issue.vector.affected_input_name,
                               fixed: true,
                               code: true
                    %>
                </td>
            </tr>
        <tbody>
    </table>
<% end %>
