<div class="page-header">
    <h1>
        <%= @issue.type.name %>
        <small>
            <% if @issue.active? %>
                in <%= @issue.vector.kind %> input
                <code><%= @issue.vector.affected_input_name %></code>
            <% end %>

            at
            <%= link_to_url_with_external(
                    external: @issue.referring_page.dom.url,
                    internal: site_path(
                        @site,
                        sitemap_entry_url( issue.referring_page.sitemap_entry )
                    ),
                    display_path_only: true
                )
            %>
            pointing to
            <%= link_to_url_with_external(
                    external: @issue.vector.action,
                    internal: site_path(
                        @site,
                        sitemap_entry_url( issue.vector.sitemap_entry )
                    ),
                    display_path_only: true
                )
            %>.
        </small>
    </h1>

    <p class="pull-left label label-emphasis label-severity-<%= @issue.severity.to_s.downcase %>">
        <%= @issue.severity.to_s.capitalize %> severity
    </p>

</div>

<%
   has_references = (@issue.type.references.any? || @issue.type.cwe) ? true : nil
   has_siblings   = (@issue.siblings.size > 1) ? true : nil
%>

<div class="row" id="info">
    <div class="col-md-<%= 12 - ([has_siblings, has_references].compact.size * 2) %>">
        <div class="description">
            <%= md @issue.type.description %>
        </div>
    </div>

    <% if has_siblings %>
        <div class="col-md-2" id="siblings">
            <%= render 'issues/siblings' %>
        </div>
    <% end %>

    <% if has_references %>
    <div class="col-md-2 references">
        <strong>References</strong>

        <ul class="list-unstyled">
            <% if @issue.type.cwe_url %>
            <li>
                <%= link_to 'CWE', @issue.type.cwe_url, target: '_blank' %>
            </li>
            <% end %>

            <% @issue.type.references.each do |reference| %>
                <li>
                    <%= link_to reference.title, reference.url, target: '_blank' %>
                </li>
            <% end %>
        </ul>
    </div>
    <% end %>
</div>

<hr/>

<div id="input_vector">
    <h2>
        <a class="anchor" href="#!/input_vector">
            <span class="fa fa-link"></span>
        </a>

        Input vector
    </h2>
    <%= render 'issues/input_vector', issue: issue %>
</div>

<hr/>

<div id="reproduction">
    <h2>
        <a class="anchor" href="#!/reproduction">
            <span class="fa fa-link"></span>
        </a>

        Reproduction
    </h2>

    <%= render 'issues/reproduction', issue: issue %>
</div>

<hr/>

<div id="identification">
    <h2>
        <a class="anchor" href="#!/identification">
            <span class="fa fa-link"></span>
        </a>

        Identification
    </h2>

    <%= render 'issues/identification', issue: issue %>
</div>

<hr/>

<% if @issue.type.remedy_guidance %>
    <div id="remediation">
        <h2>
            <a class="anchor" href="#!/remediation">
                <span class="fa fa-link"></span>
            </a>

            Remediation
        </h2>

        <%= render 'issues/remediation', issue: issue %>
    </div>

    <hr/>
<% end %>

<div id="advanced">
    <h2>
        <a class="anchor" href="#!/advanced">
            <span class="fa fa-link"></span>
        </a>

        Advanced information
    </h2>

    <p class="text-muted">
        The following sections provide all available data regarding the
        state of the web application and associated traffic.
    </p>

    <%= render 'issues/advanced', issue: issue %>
</div>
