<% has_references = @issue.type.references.any? || @issue.type.cwe %>

<div class="row">
    <div class="col-md-<%= has_references ? '10' : '12' %>">
        <div class="description">
            <%= md issue.type.remedy_guidance %>
        </div>
    </div>

    <% if has_references %>
        <div class="col-md-2 references">
            <strong>References</strong>

            <ul class="list-unstyled">
                <% if @issue.type.cwe_url %>
                    <li>
                        <%= link_to 'CWE', @issue.type.cwe_url, target: '_blank' %>
                    </li>
                <% end %>

                <% @issue.type.references.each do |reference| %>
                    <li>
                        <%= link_to reference.title, reference.url, target: '_blank' %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>
</div>

<% if issue.page.dom.data_flow_sinks.any? %>
    <div id="remediation-data-flow-sinks">
        <div class="panel panel-info">
            <div class="panel panel-heading">
                <a id="remediation_data_flow_sinks" class="anchor"
                   href="<%= id_to_location 'remediation_data_flow_sinks' %>">
                    <span class="fa fa-link"></span>
                </a>

                <i class="fa fa-info-circle"></i>

                You can gain insights into the issue by inspecting the flow of the
                injected payload:
            </div>

            <div class="panel">
                <%= render 'issues/advanced/page/sink/data_flow',
                           page: issue.page,
                           id:   'remediation'
                %>
            </div>
        </div>
    </div>
<% end %>
