<%
   sections = {
        input_vector: 'Input vector'
   }

   sections.merge!(
       reproduction:   'Reproduction',
       identification: 'Identification'
   )

   if !@issue.type.remedy_guidance.to_s.empty?
       sections.merge!(
           remediation: 'Remediation'
       )
   end

   sections.merge!(
       _:                       nil,
       advanced:               'Advanced info',
       advanced_affected_page: '&ndash; Affected page'
   )

   if !@issue.page.request.to_s.empty? || !@issue.page.response.to_s.empty?
       sections.merge!(
           advanced_affected_page_http: '&mdash; HTTP traffic',
       )
   end

   if (!@issue.page.dom.body.empty? || !@issue.page.response.body.empty?) &&
        (@issue.page.dom.body != @issue.page.response.body) &&
           @issue.page.dom.transitions.any?

       sections.merge!(
           advanced_affected_page_dom_processing: '&mdash; DOM processing',
       )
   end

   if @issue.page.dom.execution_flow_sinks.any?
       sections.merge!(
           advanced_affected_page_execution_flow: '&mdash; Execution-flow',
       )
   end

   if @issue.page.dom.data_flow_sinks.any?
       sections.merge!(
           advanced_affected_page_data_flow: '&mdash; Data-flow',
       )
   end

   sections.merge!(
       advanced_referring_page: '&ndash; Referring page',
   )

   if !@issue.referring_page.request.to_s.empty? ||
           !@issue.referring_page.response.to_s.empty?

       sections.merge!(
           advanced_referring_page_http: '&mdash; HTTP traffic',
       )
   end

   if (!@issue.referring_page.dom.body.empty? || !@issue.referring_page.response.body.empty?) &&
           (@issue.referring_page.dom.body != @issue.referring_page.response.body) &&
           @issue.referring_page.dom.transitions.any?

       sections.merge!(
           advanced_referring_page_dom_processing: '&mdash; DOM processing',
       )
   end

   if @issue.referring_page.dom.execution_flow_sinks.any?
       sections.merge!(
           advanced_referring_page_execution_flow: '&mdash; Execution-flow',
       )
   end

   if @issue.referring_page.dom.data_flow_sinks.any?
       sections.merge!(
           advanced_referring_page_data_flow: '&mdash; Data-flow',
       )
   end
%>

<%= render partial: 'shared/sidebar_scan', locals: { hide_site_buttons: true } %>

<hr/>

<% if @issue.reviewed_by_revision? %>
    <div id="reviewed-by-revision">
        <span class="label label-info label-emphasis">
            Reviewed by
            <%= link_to @issue.reviewed_by_revision,
                        site_scan_revision_path(
                                @issue.reviewed_by_revision.site,
                                @issue.reviewed_by_revision.scan,
                                @issue.reviewed_by_revision
                        ) %>

            <% if @issue.reviewed_by_revision.scan != @scan %>
                of
                <%= link_to @issue.reviewed_by_revision.scan.name,
                            site_scan_path(
                                    @issue.reviewed_by_revision.site,
                                    @issue.reviewed_by_revision.scan
                            ) %>
            <% end %>
            as:
        </span>
    </div>
<% end %>

<%= render 'form' %>


<% if @issue.siblings.count > 1 %>
    <%= render 'issues/siblings' %>
<% end %>

<hr/>

<div id="scrollspy-container">
    <div>
        <ul class="nav nav-stacked">
            <li>
                <a href="#top" class="scroll">
                    <i class="fa fa-chevron-up"></i>
                    Top
                </a>
            </li>
            <% sections.each do |id, title| %>
                <li>
                <% if id == :_ %>
                    <hr/>
                <% else %>
                    <a href="#<%= id.to_s %>" class="scroll">
                        <%= title.to_s.html_safe %>
                    </a>
                <% end %>
                </li>
            <% end %>
        </ul>
    </div>
</div>
