<table class="table table-condensed table-fixed table-execution-flow-sinks">
    <colgroup>
        <col width="4%"/>
        <col width="92%"/>
        <col width="6%"/>
    </colgroup>

    <thead>
        <tr>
            <th>#</th>
            <th>
                Helper information
            </th>
            <th></th>
        </tr>
    </thead>
    <% page.dom.execution_flow_sinks.sort_by(&:id).each.with_index do |sink, i| %>
        <tr id="<%= id %>-execution_flow_sinks-<%= i %>" >
            <td>
                <strong>
                    <a href="<%= id_to_location id %>/execution_flow_sinks/<%= i %>">
                        <%= i %>
                    </a>
                </strong>
            </td>
            <td>
                <% if sink.data.any? %>
                    <%= data_dump sink.data %>
                <% else %>
                    <p class="alert alert-info">
                        The JavaScript payload did not log any helper data.
                    </p>
                <% end %>
            </td>
            <td>
                <a href="javascript:void(0);"
                   onclick="$('#<%= id %>-execution_flow_sinks-<%= i %>-stacktrace').toggle()"
                   class="btn btn-info btn-sm <%= 'disabled' if sink.stackframes.empty? %>">
                    Stacktrace
                </a>
            </td>
        </tr>

        <% if sink.stackframes.any? %>
        <tr id="<%= id %>-execution_flow_sinks-<%= i %>-stacktrace" class="inspection">
            <td colspan="3">
                <%= render 'issues/advanced/page/sink/trace/table',
                        id:    "#{id}-execution_flow_sinks-#{i}-stacktrace",
                        parent_id: id,
                        trace: sink.stackframes,
                        page:  page
                %>
            </td>
        </tr>
      <% end %>
    <% end %>
</table>
