<div class="row">
    <div class="col-md-6">
        <h5>
            <a id="<%= id %>_initial" class="anchor"
               href="<%= id_to_location "#{id}_initial" %>">
                <span class="fa fa-link"></span>
            </a>

            Initial state
        </h5>

        <p class="text-muted">
            This is the original HTTP response body.
        </p>

        <%= code_highlight page.response.body, :html,
                           line_numbers: true,
                           anchor_id:    "#{id}-initial"
        %>
    </div>

    <div class="col-md-6">
        <h5>
            <a id="<%= id %>_final" class="anchor"
               href="<%= id_to_location "#{id}_final" %>">
                <span class="fa fa-link"></span>
            </a>

            Final state
        </h5>

        <p class="text-muted">
            This is the browser-evaluated body, as a result of the listed
            transitions.
        </p>

        <%= code_highlight page.dom.body, :html,
                           line_numbers: true,
                           anchor_id:    "#{id}-final"
        %>
    </div>
</div>
