<%
    last_severity = nil
    last_name     = nil

    force_show_logged_by      = local_assigns[:force_show_logged_by]
    hide_state_icon           = local_assigns[:hide_state_icon]
    show_reviewed_by_revision = local_assigns[:show_reviewed_by_revision]

    chart_data = data[:chart_data]

    siblings = {}

    scoped_find_each( data[:issues] ) do |issue|
        next if siblings[issue.digest]
        siblings[issue.digest] = true

        severity = issue.severity
%>

<% if severity.name != last_severity %>

    <%
       last_name = nil
       if last_severity %>
            </tbody>
            </table>
            </div>
            </div>
            </div>
            </div>
    <% end %>

    <div class="row">
        <div class="col-md-12">
            <div id="<%= id %>-issue-severity-<%= severity %>"
                 class="bg-severity-<%= severity %> cascade-container">
<% end %>

        <% if issue.type.name != last_name %>
            <% if last_name %>
                </tbody>
                </table>
                </div>
            <% end %>

            <div id="<%= id %>-issue-check-<%= issue.type.check_shortname %>">
                <h4>
                    <%= issue.type.name %>

                    <% if chart_data %>
                        <span class="badge-severity badge-severity-<%= severity %>">
                            <%= chart_data[:issue_names][issue.type.name] %>
                        </span>
                    <% end %>
                </h4>

            <table class="table table-condensed table-borderless table-hover
                table-striped table-issue-summary">

                <thead>
                    <% if !hide_state_icon %>
                        <th></th>
                    <% end %>

                    <th>Type</th>

                    <% if issue.vector.affected_input_name %>
                        <th>Name</th>
                    <% end %>

                    <% if !@sitemap_entry %>
                        <th>Resource</th>
                    <% end %>

                    <% if show_reviewed_by_revision %>
                        <th>Reviewed by</th>
                    <% end %>

                    <% if force_show_logged_by || (!@scan || !@revision) %>
                        <th>Logged by</th>
                    <% end %>
                </thead>
                <tbody>
        <% end %>
            <tr id="<%= id %>-issue-<%= issue.digest %>">

                <% if !hide_state_icon %>
                    <td id="<%= id %>-issue-<%= issue.digest %>-state-icon">
                        <%= link_to site_scan_revision_issue_path( issue.site, issue.scan, issue.revision, issue ),
                                    title: issue.state.humanize do %>
                            <i class="fa fa-<%= issue_state_to_icon issue.state %>">
                            </i>
                        <% end %>
                    </td>
                <% end %>

                <td id="<%= id %>-issue-<%= issue.digest %>-vector-kind">
                    <code><%= issue.vector.kind %></code>
                </td>

                <% if issue.vector.affected_input_name %>
                    <td id="<%= id %>-issue-<%= issue.digest %>-affected_input_name">
                        <code><%= issue.vector.affected_input_name %></code>
                    </td>
                <% end %>

                <% if !@sitemap_entry %>
                    <td id="<%= id %>-issue-<%= issue.digest %>-vector-action">
                        <%= link_to_url_with_external(
                                external: issue.vector.action,
                                internal: sitemap_entry_url( issue.vector.sitemap_entry ),
                                display_path_only: true
                            )
                        %>
                    </td>
                <% end %>

                <% if show_reviewed_by_revision %>
                    <%
                       reviewer = issue.reviewed_by_revision
                    %>
                    <td id="<%= id %>-issue-<%= issue.digest %>-reviewer">
                        <%= link_to "#{reviewer} of #{reviewer.scan} scan",
                                    site_scan_revision_path(
                                            reviewer.site_id,
                                            reviewer.scan_id,
                                            reviewer,
                                            filter_params
                                    ) %>
                    </td>
                <% end %>

                <% if force_show_logged_by || (!@scan || !@revision) %>
                    <td id="<%= id %>-issue-<%= issue.digest %>-loggers">
                        <% if !force_show_logged_by && @scan %>
                            <%= link_to issue.revision,
                                        site_scan_revision_path(
                                                issue.site_id,
                                                issue.scan_id,
                                                issue.revision_id,
                                                filter_params
                                        ) %>
                        <% else %>
                            <ul class="list-unstyled">
                                <li>
                                    <% if !hide_state_icon %>
                                        <%= link_to "#{issue.revision} of #{issue.scan} scan",
                                                    site_scan_revision_path(
                                                            issue.site_id,
                                                            issue.scan_id,
                                                            issue.revision_id,
                                                            filter_params
                                                    ) %>
                                    <% else %>
                                        <%= link_to "#{issue.revision} of #{issue.scan} scan",
                                                    site_scan_revision_issue_path(
                                                            issue.site_id,
                                                            issue.scan_id,
                                                            issue.revision_id,
                                                            issue,
                                                            filter_params
                                                    ) %>
                                    <% end %>
                                </li>

                                <%
                                   issue.siblings.each do |sibling|
                                       # If the sibling is this issue then it won't
                                       # have scan and revision data preloaded so
                                       # do this little optimization here.
                                       next if sibling.id == issue.id
                                %>
                                    <li>
                                    <% if !hide_state_icon %>
                                        <%= link_to "#{sibling.revision} of #{sibling.scan} scan",
                                                        site_scan_revision_path(
                                                                sibling.site_id,
                                                                sibling.scan_id,
                                                                sibling.revision_id,
                                                                filter_params
                                                        ) %>
                                    <% else %>
                                        <%= link_to "#{sibling.revision} of #{sibling.scan} scan",
                                                    site_scan_revision_issue_path(
                                                            sibling.site_id,
                                                            sibling.scan_id,
                                                            sibling.revision_id,
                                                            sibling,
                                                            filter_params
                                                    ) %>
                                    <% end %>
                                </li>
                            <% end %>
                            </ul>
                        <% end %>
                    </td>
                <% end %>
            </tr>

<%
   last_name     = issue.type.name
   last_severity = issue.severity.name
   end %>
</tbody>
</table>
</div>
</div>
</div>
</div>
