<table class="scan-revisions-table">
    <thead>
    <tr>
        <th>State</th>
        <th>Started at</th>
        <th>Stopped at</th>
        <th>Fixed issues</th>
        <th>New issues</th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% scan.revisions.each do |revision| %>
        <tr>
            <td><%= revision.state %></td>
            <td><%= revision.started_at %></td>
            <td><%= revision.stopped_at %></td>

            <td>0</td>
            <td>0</td>

            <% if policy(revision).show? %>
                <td><%= link_to 'Show', site_scan_revision_path( scan.site, scan, revision ) %></td>
            <% end %>

            <% if policy(revision).destroy? %>
                <td><%= link_to 'Delete', [scan.site, scan, revision],
                                method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
