<%
   title "Revision ##{@revision.index}"
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @scan.url, site_path( @site )
   breadcrumb_add @scan.name, site_scan_path( @site, @scan )
%>

<div class="row">
    <div class="col-md-12" id="revision-info">
        <%= render partial: 'shared/scan_heading' %>

        <div class="description">
            <%= md @scan.description %>
        </div>

        <p class="text-muted">
            <% if @scan.recurring? %>
                Running <%= link_to @scan.schedule, '#' %>.
            <% end %>
        </p>

        <% if @revision.stopped? %>
            <p class="text-muted" id="revision-info-time">
                Started on <%= l @revision.started_at %>,
                stopped on <%= l @revision.stopped_at %>
                &mdash;
                <%= seconds_to_hms @revision.stopped_at - @revision.started_at %>.
            </p>
        <% elsif @revision.in_progress? %>
            <p class="text-muted" id="revision-info-time">
                <i class="fa fa-spin fa-circle-o-notch"></i>
                Started on <%= l @revision.started_at %>
                &mdash;
                <%= seconds_to_hms @revision.duration %>.
            </p>
        <% end %>
    </div>
</div>

<hr/>

<%= render partial: 'shared/scans_with_issue_summary' %>
