<%
   title @revision.to_s
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @scan.url, site_path( @site )
   breadcrumb_add 'Scans', site_scans_path( @site )
   breadcrumb_add @scan.name, site_scan_path( @site, @scan )
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row" id="revision-info">
    <div class="col-md-12">
        <%= render partial: 'shared/scan_heading' %>

        <div class="description">
            <%= md @scan.description %>
        </div>

        <div class="text-muted">
            Using <%= link_to @scan.profile, profile_path( @scan.profile ) %>
            from <%= link_to @scan.user_agent, user_agent_path( @scan.user_agent ) %>
            as <%= link_to @scan.site_role, site_role_path( @site, @scan.site_role ) %>.

            <br/>

            <% if @revision.stopped? %>
                Started on <%= l @revision.started_at %>;
                stopped on <%= l @revision.stopped_at %>
                &mdash;
                <%= seconds_to_hms @revision.duration %>.
            <% elsif @revision.in_progress? %>
                <i class="fa fa-spin fa-circle-o-notch"></i>
                Started on <%= l @revision.started_at %>
                &mdash;
                <%= seconds_to_hms @revision.duration %>.
            <% end %>

            <% if @scan.recurring? %>
                <br/>
                Running <%= @scan.schedule %>.
            <% end %>
        </div>
    </div>
</div>

<%= render 'shared/scan_results' %>
