<%
   title params[:action].capitalize
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @scan.url, site_path( @site )
   breadcrumb_add 'Scans', site_scans_path( @site )
   breadcrumb_add @scan, site_scan_path( @site, @scan )
   breadcrumb_add @revision, site_scan_revision_path( @site, @scan, @revision )
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row" id="revision-info">
    <div class="col-md-12">
        <%= render partial: 'shared/scan_heading' %>

        <div class="description">
            <%= md @scan.description %>
        </div>

        <div class="text-muted" id="revision-info-details">
            <%= render partial: '/shared/scan_info', locals: {
                    scan: @scan
            } %>
            <%= render partial: '/shared/revision_info', locals: {
                    revision:           @scan.last_revision,
                    scan:               @scan,
                    extended:           true,
                    hide_revision_name: true
            } %>
        </div>
    </div>
</div>

<%= render 'shared/scan_results' %>
