<div class="card-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% components.each do |shortname, info| %>
        <div class="card-header" role="tab">
            <h4 class="card-title" data-bs-toggle="collapse"
                role="tab" data-bs-target="#<%= shortname %>">
                <%= info[:name] %> (<code><%= shortname %></code>)
            </h4>
            <div style="height: 0px;" id="<%= shortname %>" class="panel-collapse collapse">
                <div class="card-body">
                    <div>
                        <%= md info[:description] %>
                    </div>

                    <% if info[:options] %>
                        <hr/>

                        <div class="plugin-options">
                            <%= render partial: '/shared/plugin_options',
                                       locals: {
                                               plugin_info:   info,
                                               plugin_name:   shortname,
                                               configuration: @profile.plugins[shortname] || {},
                                               disabled:      true
                                       } %>
                        </div>

                        <hr/>
                    <%end%>

                    <table class="table table-borderless table-sm">
                        <tr>
                            <th>Version:</th>
                            <td><%= info[:version] %></td>
                        </tr>

                        <tr>
                            <th>Authors:</th>
                            <td>
                                <ul class="list-unstyled">
                                    <% info[:authors].each do |author| %>
                                        <li><%= author %></li>
                                    <% end %>
                                </ul>
                            </td>
                        </tr>

                        <% if info[:platforms].is_a? Array %>
                            <tr>
                                <th>Supported platforms:</th>
                                <td>
                                    <ul class="list-unstyled">
                                        <% info[:platforms].each do |platform| %>
                                            <li><%= platform_fullname platform %></li>
                                        <% end %>
                                    </ul>
                                </td>
                            </tr>
                        <% end %>
                    </table>

                </div>
            </div>
        </div>
    <%end%>
</div>
