<%
   highlight ||= nil
   fixed     ||= false
%>

<table class="table table-hash table-sm table-borderless <%= 'table-fixed' if fixed %>">
    <% object.each do |k, v| %>
        <%
           cell = [k,v].include?( highlight ) ? 'th' : 'td'
           k    = escape_control_characters( k.to_s )
           v    = escape_control_characters( v.to_s )
        %>

        <tr>
            <<%= cell %>>
                <% if code %>
                    <code><%= k %></code>
                <% else %>
                    <%= k %>
                <% end %>
            </<%= cell %>>

            <% if !fixed %>
                <<%= cell %>>
                    =
                </<%= cell %>>
            <% end %>

            <<%= cell %>>
                <% if v.is_a? Hash %>
                    <% if v.empty? %>
                        <code><%= v %></code>
                    <% else %>
                        <%= render '/shared/hash', code: code, object: v %>
                    <% end %>
                <% else %>
                    <% if code %>
                        <code><%= v %></code>
                    <% else %>
                        <%= v %>
                    <% end %>
                <% end %>
            </<%= cell %>>
        </tr>
    <% end %>
</table>
