<%
   highlight ||= nil
   fixed     ||= false
%>

<table class="table table-hash table-condensed table-borderless <%= 'table-fixed' if fixed %>">
    <% object.each do |k, v| %>
        <%
           cell = [k,v].include?( highlight ) ? 'th' : 'td'
        %>

        <tr>
            <<%= cell %>>
                <% if code %>
                    <code><%= k %> </code>
                <% else %>
                    <%= k %>
                <% end %>
            </<%= cell %>>

            <<%= cell %>>
                <% if v.is_a? Hash %>
                    <% if v.empty? %>
                        <code><%= escape_control_characters v %></code>
                    <% else %>
                        <%= render '/shared/hash', code: code, object: v %>
                    <% end %>
                <% else %>
                    <% if code %>
                        <code><%= escape_control_characters v %></code>
                    <% else %>
                        <%= escape_control_characters v %>
                    <% end %>
                <% end %>
            </<%= cell %>>
        </tr>
    <% end %>
</table>
