<%
   pages      = params[:filter][:pages]
   states     = params[:filter][:states]
   severities = params[:filter][:severities]
   type       = params[:filter][:type]
%>

<% if @site.scanned? %>
    <br/>
    <div class="row">
        <div class="col-md-12" id="issue-summary-filter-actions">
            <form class="simple_form form-inline">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group boolean">
                            <% i = 0
                               @issues_summary[:states].each do |state, count| %>

                                <div class="checkbox">
                                    <input class="check_boxes" type="checkbox" id="issue-state-<%= state %>"
                                           name="filter[states][]" value="<%= state %>"
                                           <%= "checked=checked" if states.include?( state ) %>
                                    />

                                    <label for="issue-state-<%= state %>">
                                        <%= h = state.humanize; i == 0 ? h : h.downcase %>
                                        ( <i class="fa fa-<%= issue_state_to_icon state %>"></i>
                                        <%= count %>)
                                    </label>
                                </div>
                                <%= ',' if @issues_summary[:states].size != i + 1 %>
                                <% i += 1 %>
                            <% end %>

                            issues of severities

                            <% i = 0
                               @issues_summary[:severities].each do |severity, count| %>

                                <div class="checkbox">
                                    <input class="check_boxes" type="checkbox" id="issue-severity-<%= severity %>"
                                           name="filter[severities][]" value="<%= severity %>"
                                           <%= "checked=checked" if severities.include?( severity.to_s ) %>
                                    />

                                    <label for="issue-severity-<%= severity %>">
                                        <%= severity.to_s %> (<%= count %>)
                                    </label>
                                </div>

                                <%= ',' if @issues_summary[:states].size != i + 1 %>
                                <% i += 1 %>

                            <% end %>
                            .
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-actions btn-group">
                            <button class="btn btn-<%= type == 'include' ? 'primary' : 'default' %>" type="submit"
                                    name="filter[type]" value="include">Show</button>

                            <button class="btn btn-<%= type == 'exclude' ? 'primary' : 'default' %>" type="submit"
                                    name="filter[type]" value="exclude">Hide</button>
                        </div>
                    </div>
                </div>

                <% pages.each do |id| %>
                    <input type="hidden" name="filter[pages][]" value="<%= id %>" />
                <% end %>
            </form>
        </div>
    </div>

    <hr/>

    <% if @issues_summary[:issues].any? %>
        <%= render partial: 'shared/issues_summary/statistics' %>

        <hr/>

        <div class="row">
            <div class="col-md-3 summary-sitemap-container" id="summary-sitemap">
                <%= render partial: 'shared/issues_summary/sitemap' %>
            </div>

            <div class="col-md-9 summary-issues-container" id="summary-issues">
                <%= render partial: 'shared/issues_summary/issues' %>
            </div>
        </div>
    <% else %>
        <p class="alert alert-info">
            No issues.
        </p>
    <% end %>
<% else %>
    <p class="alert alert-info">
        No scan has started yet...
    </p>
<% end %>
