<% if @site.scanned? %>
    <% if @issues_summary[:issues].any? %>
        <div class="row">
            <div class="col-md-3 summary-sitemap-container" id="summary-sitemap">
                <%= render partial: 'shared/issues_summary/sitemap' %>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <%= render partial: 'shared/issues_summary/filter' %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12" id="summary-data">

                        <% if @issues_summary[:issues].count > 1 %>
                            <div class="row">
                                <div class="col-md-12">
                                    <%= render partial: 'shared/issues_summary/statistics' %>
                                    <hr/>
                                </div>
                            </div>
                        <% end %>

                        <div class="row">
                            <div class="col-md-12 summary-issues-container" id="summary-issues">
                                <%= render partial: 'shared/issues_summary/issues' %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% else %>
        <%= render partial: 'shared/issues_summary/filter' %>
        <hr/>

        <% if @sitemap_entry %>
            <div class="well">
                <p>
                    No issues for
                    <%= link_to_url_with_external(
                                external: @sitemap_entry.url,
                                internal: sitemap_entry_url( @sitemap_entry ),
                                display_path_only: true
                        )
                    %>

                    <% if @issues_summary[:pre_page_filter_data][:count] > 0 %>
                        , see issues for <%= link_to 'all pages', filter_params_without_page %>.
                    <% else %>
                        or any other page.
                    <% end %>
                </p>

                <%
                   revisions_with_issues =
                           filter_issues_by_severity_and_state( @sitemap_entry.issues ).unique_revisions
                   if revisions_with_issues.any?
                %>
                    <div>
                        You can visit revisions and scans which have logged issues for it:

                        <ul>
                            <% revisions_with_issues.each do |revision| %>
                            <li>
                                <%= link_to revision,
                                            site_scan_revision_path(
                                                    revision.scan.site,
                                                    revision.scan,
                                                    revision,
                                                    filter_params
                                            ) %>
                                of
                                <%= link_to (@scan == revision.scan) ? 'this scan' : revision.scan,
                                            site_scan_path(
                                                    revision.scan.site,
                                                    revision.scan,
                                                    filter_params
                                        ) %>.
                            </li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>
            </div>
        <% else %>
            <p class="alert alert-info">
                No issues.
            </p>
        <% end %>
    <% end %>
<% else %>
    <p class="alert alert-info">
        No scan has started yet...
    </p>
<% end %>
