<div id="<%= type.gsub( '-', '_' ) %>-import" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Import <%= type %>:</h3>

                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <%= simple_form_for type.gsub( '-', '_' ), url: import_url, html: { multipart: true } do |f| %>
                <div class="modal-body">
                    <%= f.error_notification %>
                    <%= f.input :file, as: :file, label: false,
                                hint: 'Supported formats are: YAML, JSON, AFP (CLI-generated profiles)'
                    %>
                </div>
                <div class="modal-footer">
                    <%= f.button :submit, value: 'Import', class: 'btn btn-sm btn-primary' %>
                    <button class="btn btn-sm btn-light" type="button" data-bs-dismiss="modal" aria-hidden="true">Close</button>
                </div>
            <% end %>
        </div>
    </div>
</div>
