<div id="sidebar-scan">
    <ul class="nav nav-pills nav-stacked flex-column">
        <li class="nav-item">
            <%= link_to_with_filters @scan, class: "nav-link #{('active' if params[:controller] == 'scans')}" do %>
                <% if @issue %>
                    <i class="fa fa-arrow-left"></i>
                <% end %>

            <span class="scan-name"><%= @scan %></span>
            <% end %>
        </li>
    </ul>

    <div class="row">
      <div class="col-md-12">
        <h6>
            <% if !@scan.status %>
                <span class="scan-status badge bg-primary" >
                    <%= @scan.scheduled? ? 'Pending' : 'Unscheduled' %>
                </span>
            <% else %>
                <span class="scan-status badge bg-<%= status_to_label( @scan.status ) %>" >
                    <%= @scan.status.to_s.capitalize %>
                </span>
            <% end %>
        </h6>
      </div>
    </div>

    <div class="row buttons">
      <div class="col-md-12">
        <%= render partial: '/scans/buttons', locals: { scan: @scan } %>
      </div>
    </div>

    <div class="row text text-muted mb-3" id="scan-info-details">
        <%= render partial: '/shared/scan_info', locals: {
            scan: @scan
        } %>
    </div>

    <div class="description text text-muted">
        <%= md @scan.description %>
    </div>

</div>
