<%
   heading    = local_assigns[:title] || 'Associated scans'
   scans      = local_assigns[:scans] || []
   with_site  = local_assigns[:with_site]

   scan_details_options = local_assigns[:scan_details_options] || {}
%>

    <ul id="sidebar-scans" class="nav nav-pills nav-stacked flex-column">
        <li class="nav-item nav-header">
            <a class="nav-link">
                <%= heading %>

                <span class="badge rounded-pill badge-secondary">
                    <%= scans.count %>
                </span>
            </a>
        </li>

        <%
           if scans.any?

           scans.each do |scan|
               max_severity   = scan.issues.max_severity
               issue_count    = scan.issues.size
               revision_count = scan.revisions.size

               if revision_count > 0 && issue_count == 0
                   max_severity = 'none'
               end
        %>

            <li class="nav-item" id="sidebar-scans-id-<%= scan.id %>"

                <% if revision_count > 0 %>
                    <% if issue_count > 0 %>
                        title="<%= pluralize issue_count, 'issue' %> with a maximum severity of <%= max_severity %>."
                    <% else %>
                        title="<%= pluralize issue_count, 'issue' %>."
                    <% end %>
                <% else %>
                    title="Has not run yet."
                <% end %>
            >
                <%= link_to_with_filters scan, class: 'nav-link' do %>
                    <%= scan.name %>

                    <% if with_site %>
                        for <%= scan.site.url %>
                    <% end %>

                    <% if revision_count > 0 %>
                        <span class="badge rounded-pill badge-severity-<%= max_severity %>">
                            <%= issue_count %>
                        </span>
                    <% end %>
                <% end %>
            </li>

            <li class="nav-item sidebar-info" id="sidebar-scans-id-<%= scan.id %>-info">
                <small class="text-muted">
                    <%= render partial: '/shared/scan_info',
                               locals: { scan: scan } %>

                    <% if lr = scan.last_revision %>
                        <%= render partial: '/shared/revision_info', locals: {
                                revision:       lr,
                                hide_scan_name: true
                        } %>
                    <% end %>
                </small>
            </li>
        <% end %>
    </ul>
<% end %>
