<div id="sidebar-scan">
    <ul class="nav nav-stacked">
        <li class="<%= 'active' if params[:controller] == 'scans' %>">
            <%= link_to_with_filters @scan do %>
                <% if @issue %>
                    <i class="fa fa-arrow-left"></i>
                <% end %>

            <span class="scan-name"><%= @scan %></span>
            <% end %>
        </li>
    </ul>

    <div class="row">
      <div class="md-12">
        <% if !@scan.status %>
            <span class="scan-status label label-emphasis label-default" >
                <%= @scan.scheduled? ? 'Pending' : 'Unscheduled' %>
            </span>
        <% else %>
            <span class="scan-status label label-emphasis label-<%= status_to_label( @scan.status ) %>" >
                <%= @scan.status.to_s.capitalize %>
            </span>
        <% end %>
      </div>
    </div>

    <div class="row buttons">
      <div class="md-12">
        <%= render partial: '/scans/buttons', locals: { scan: @scan } %>
      </div>
    </div>

    <div class="help-block" id="scan-info-details">
        <%= render partial: '/shared/scan_info', locals: {
            scan: @scan
        } %>
    </div>

    <div class="description help-block">
        <%= md @scan.description %>
    </div>

</div>
