<%= simple_form_for( [@site, @scan], html: { class: 'form-inline' } ) do |f| %>
    <%= f.error_notification %>

    <div class="row">
        <div class="form-inputs col-md-3">
            <%= f.input :name, placeholder: '(Required) Name', label: false %>

            <%= f.association :profile,
                              label: false,
                              disabled: @scan.revisions.any?,
                              collection: current_user.profiles,
                              selected: current_user.profiles.default,
                              hint: ('The profile will remain editable until the
                              first time the scan runs.' if @scan.revisions.empty?)
            %>

            <%= f.input :description, placeholder: 'Description', label: false %>
        </div>

        <div class="form-inputs col-md-6">
            <%= f.simple_fields_for :schedule do |sf| %>

            <div class="row">
                <div class="col-md-8">
                    <fieldset>
                        <legend>Schedule</legend>
                        <%= sf.input :start_at,
                                     include_blank: true,
                                     start_year: Date.today.year,
                                     end_year: Date.today.year + 1,
                                     hint: 'If no date is specified the scan will start ASAP.'
                        %>

                        <%= sf.input :stop_after_hours, label: 'Stop after' %> hours
                        &mdash;
                        <%= sf.input :stop_suspend, label: 'Suspend instead of aborting' %>
                    </fieldset>
                </div>

                <div class="col-md-4">
                    <fieldset>
                        <legend>Frequency</legend>
                        Every
                        <%= sf.input :day_frequency,
                                          collection: (1..29),
                                          as: :select,
                                          label: false,
                                          placeholder: 'Days (1-29)'
                        %> days and
                        <%= sf.input :month_frequency,
                                          collection: (1..12),
                                          as: :select,
                                          label: false,
                                          placeholder: 'Months (1-12)'
                        %>
                        months.
                    </fieldset>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <div class="row">
        <div class="form-actions col-md-12">
            <%= f.button :submit %>
        </div>
    </div>
<% end %>
