<%= simple_form_for( [@site, @scan], html: { class: 'form-inline' } ) do |f| %>
    <%= f.error_notification %>

    <div class="row">
        <div class="form-inputs col-md-6">
            <%= f.input :name, placeholder: '(Required) Name', label: false %>
            <%= f.input :description, placeholder: 'Description', label: false %>
        </div>

        <div class="form-inputs col-md-6">
            <%= f.association :site_role,
                              disabled: @scan.revisions.any?,
                              collection: @site.roles.all
            %>

            <%= f.association :profile,
                              disabled: @scan.revisions.any?,
                              collection: current_user.profiles,
                              selected: current_user.profiles.default
            %>

            <%= f.association :user_agent,
                              disabled: @scan.revisions.any?,
                              collection: UserAgent.all,
                              selected: UserAgent.default
            %>
        </div>
    </div>

    <%= f.simple_fields_for :schedule do |sf| %>
    <div class="row">
        <div class="col-md-6">
            <fieldset>
                <legend>Schedule</legend>

                <div class="row">
                    <div class="col-md-9">
                        <%= sf.input :start_at,
                                     include_blank: true,
                                     start_year: Date.today.year,
                                     end_year: Date.today.year + 1,
                                     hint: 'If no date is specified the scan will start ASAP.'
                        %>
                    </div>

                    <div class="col-md-3">
                        <%= sf.input :stop_after_hours, label: 'Stop after' %> hours
                        <%= sf.input :stop_suspend, label: 'Suspend instead of aborting' %>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-md-6">
            <fieldset>
                <legend>Frequency</legend>
                Every
                <%= sf.input :day_frequency,
                                  collection: (1..29),
                                  as: :select,
                                  label: false,
                                  placeholder: 'Days (1-29)'
                %> days and
                <%= sf.input :month_frequency,
                                  collection: (1..12),
                                  as: :select,
                                  label: false,
                                  placeholder: 'Months (1-12)'
                %>
                months.
            </fieldset>
        </div>
    </div>
    <% end %>

    <div class="row">
        <div class="form-actions col-md-12">
            <%= f.button :submit %>
        </div>
    </div>
<% end %>
