<% if @scan.active? %>
<p class="alert alert-warning">
    Some options cannot be updated while the scan is in progress.
</p>
<% end %>

<%= simple_form_for( [@site, @scan],
                     html: {
                         class: 'scan-form',
                         onsubmit: 'on_submit()'
                     },
                     wrapper: :vertical_form
    ) do |f| %>
    <%= f.error_notification %>

    <div class="row">
        <div class="form-inputs col-md-6">
            <%= f.input :name, placeholder: '(Required) Name' %>
            <%= f.input :description, placeholder: 'Description' %>
        </div>

        <div class="form-inputs col-md-6">
            <%= f.input :path,
                        placeholder: '/',
                        as: :string,
                        disabled: @scan.revisions.any?
            %>

            <%= f.association :site_role,
                              disabled: @scan.revisions.any?,
                              collection: @site.roles.all,
                              selected: @site.roles.guest
            %>

            <%= f.association :profile,
                              disabled: @scan.revisions.any?,
                              collection: current_user.profiles,
                              selected: @scan.profile ? @scan.profile.id :
                                            current_user.profiles.default.try(:id)
            %>

            <%= f.association :device,
                              disabled: @scan.revisions.any?,
                              collection: Device.all,
                              selected: @scan.device ? @scan.device.id :
                                          Device.default.try(:id)
            %>
        </div>
    </div>

    <hr/>

    <%= f.simple_fields_for :schedule do |sf| %>
        <div class="row mt-3">
            <div class="col-md-8">
                <h2>Schedule</h2>

                <div class="row">
                    <div class="col-md-8 update_schedule_preview">
                        <%= sf.input :start_at,
                                    disabled: @scan.active?,
                                    include_blank: true,
                                    start_year: Date.today.year,
                                    end_year: Date.today.year + 2,
                                    selected: Time.now,
                                    hint: 'A time in the past will be replaced ' +
                                            'with now.'
                        %>
                    </div>

                    <div class="col-md-4 d-flex">
                        <%= sf.input :stop_after_hours, label: 'Stop after', hint: 'hours' %>
                        <%= sf.input :stop_suspend,
                                    label: 'Suspend instead of aborting',
                                    hint: 'Should the scan be suspended, the' +
                                        ' frequency settings will take place' +
                                        ' after it has been restored.'
                        %>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h2>Frequency</h2>

                <%= sf.input :frequency_format, label: false, wrapper_html: { class: 'd-none' } %>

                <div class="format-tabs">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link <%= 'active' if !@scan.schedule.frequency_format || @scan.schedule.frequency_format == 'simple' %>"
                            href="#simple"
                            aria-controls="simple"
                            role="tab" data-toggle="tab">
                                Simple
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a class="nav-link <%= 'active' if @scan.schedule.frequency_format == 'cron' %>"
                            href="#cron" aria-controls="cron" role="tab" data-toggle="tab">
                                Cronline
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div role="tabpanel"
                            class="tab-pane update_schedule_preview
                            <%= 'active' if !@scan.schedule.frequency_format ||
                                @scan.schedule.frequency_format == 'simple' %>"
                            id="simple">
                            Every
                            <%= sf.input :day_frequency,
                                            collection: (1..29),
                                            as: :select,
                                            label: false,
                                            placeholder: 'Days (1-29)'
                            %>
                            days and
                            <%= sf.input :month_frequency,
                                            collection: (1..12),
                                            as: :select,
                                            label: false,
                                            placeholder: 'Months (1-12)'
                            %>
                            months.
                        </div>

                        <div role="tabpanel"
                            class="tab-pane update_schedule_preview
                            <%= 'active' if @scan.schedule.frequency_format == 'cron' %>"
                            id="cron">
                            <%= sf.input :frequency_cron, label: false, as: :string %>
                        </div>
                    </div>

                    <div class="update_schedule_preview">
                        Calculate the next occurrence from the scan's
                        <%= sf.input :frequency_base,
                                    collection: Schedule::FREQUENCY_BASES,
                                    as: :select,
                                    default: 'start',
                                    label: false
                        %>
                        time.
                    </div>
                </div>
            </div>
        </div>
    <% end %>

    <% if !@scan.active? %>
        <div class="row">
            <%
               path = @scan.id ?
                       site_scan_path( @site, @scan ) : site_scans_path( @site )
            %>

            <div class="col-md-12">
                <div id="scan-form-schedule-preview" data-path="<%= path %>">
                </div>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="form-actions col-md-12 mt-4">
            <%= f.button :submit %>
        </div>
    </div>
<% end %>
