<%
   revisions     = @issues_summary[:revisions]
   revision_data = @issues_summary[:revision_data]
%>

<ul id="scan-sidebar" class="nav nav-pills nav-stacked">

    <li>
        <%= link_to site_path( @site, filter_params ) do %>
            <i class="fa fa-arrow-left"></i>
            Site overview
        <% end %>

        <hr/>
    </li>

    <li class="<%= 'active' if request.path == site_scan_path( @site, @scan ) %>">
        <%= link_to site_scan_path( @scan.site, @scan, filter_params ) do %>
            Scan overview
        <% end %>

        <hr/>
    </li>

    <%
       last_revision = nil
       revisions.each do |revision|
           active = (@revision && @revision.id == revision.id)

           max_severity   = revision_data[revision.id] ?
                   revision_data[revision.id][:max_severity] : nil

           issue_count    = revision_data[revision.id] ?
                   revision_data[revision.id][:issue_count] : 0

           if issue_count == 0
               max_severity = 'none'
           end
    %>

    <li
        <% if issue_count > 0 %>
            title="<%= pluralize issue_count, 'new issue' %> with a maximum severity of <%= max_severity %>."
        <% else %>
            title="<%= pluralize issue_count, 'new issue' %>."
        <% end %>

        class="<%= 'active' if active %>"
    >

        <%= link_to site_scan_revision_path( revision.scan.site, revision.scan, revision, filter_params ) do %>
            #<%= revision.index %>

            <span class="text-muted">
                &ndash;
                <%= pluralize revision.sitemap_entries.size, 'new page' %>

                <% if last_revision %>
                    , <%= last_revision.issues.fixed.size %> fixed issues.
                <% end %>
            </span>

            <span>
                <span class="badge badge-severity-<%= max_severity %>">
                    <%= issue_count %>
                </span>
            </span>
        <% end %>
    </li>

        <% if (performed_at = revision.performed_at) %>
        <li class="sidebar-info">
            <small>
                <span class="text-muted">
                    Performed on <%= l performed_at %>.
                </span>
            </small>
        </li>
        <% end %>

        <% if revision.in_progress? %>
        <li class="sidebar-info">
            <small>
                <span class="text-muted">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                    Started on <%= l revision.started_at %>.
                </span>
            </small>
        </li>
        <% end %>

    <%
       last_revision = revision
       end %>
</ul>
