<%
   revisions     = @issues_summary[:revisions]
   revision_data = @issues_summary[:revision_data]

   total_revision_count   = @scan.revisions.count
   current_revision_count = revisions.count
%>

<%= render 'shared/sidebar_scan' %>

<% if revisions.any? %>
    <hr/>

    <div id="sidebar-revisions">
        <ul class="nav nav-pills nav-stacked">
            <li class="nav-header">
                <a>
                    Revisions

                    <% if total_revision_count != current_revision_count %>
                        &mdash;
                        Showing <%= current_revision_count %> out of
                        <%= total_revision_count %>
                    <% end %>
                </a>
            </li>

            <%
               revisions.each do |revision|
                   active = (@revision && @revision.id == revision.id)

                   max_severity   = revision_data[revision.id] ?
                           revision_data[revision.id][:max_severity] : nil

                   issue_count    = revision_data[revision.id] ?
                           revision_data[revision.id][:issue_count] : 0

                   if issue_count == 0
                       max_severity = 'none'
                   end
            %>

                <li
                    <% if issue_count > 0 %>
                        title="<%= pluralize issue_count, 'new issue' %> with a maximum severity of <%= max_severity %>."
                    <% else %>
                        title="<%= pluralize issue_count, 'new issue' %>."
                    <% end %>

                    class="<%= 'active' if active %>"
                >

                    <%= link_to site_scan_revision_path( revision.scan.site, revision.scan, revision, filter_params ) do %>
                        #<%= revision.index %>

                        <span class="text-muted">
                            &ndash;
                            <%= pluralize revision.sitemap_entries.size, 'new page' %>

                            <% if (reviewed_issues = revision.reviewed_issues.size) > 0 %>
                                , <%= reviewed_issues %> reviewed
                                <%= 'issue'.pluralize reviewed_issues %>
                            <% end %>
                        </span>

                        <span>
                            <span class="badge badge-severity-<%= max_severity %>">
                                <%= issue_count %>
                            </span>
                        </span>
                    <% end %>
                </li>

                <li class="sidebar-info">
                    <small class="text-muted">
                        <% if (performed_at = revision.performed_at) %>
                            Performed on <%= l performed_at %>.
                        <% elsif revision.in_progress? %>
                            <i class="fa fa-spin fa-circle-o-notch"></i>
                            Started on <%= l revision.started_at %>.
                        <% end %>
                    </small>
                </li>
            <% end %>
        </ul>
    </div>
<% end %>
