<%
   site_scans = @issues_summary[:scans]
%>

<ul id="scan-sidebar" class="nav nav-pills nav-stacked">

    <li>
        <%= link_to @site do %>
            <i class="fa fa-arrow-left"></i>
            Site overview
        <% end %>

        <hr/>
    </li>

    <li class="<%= 'active' if request.path == site_scan_path( @site, @scan ) %>">
        <%= link_to [@scan.site, @scan] do %>
            Scan overview
        <% end %>

        <hr/>
    </li>

    <li>
        <ul class="nav nav-vertical">
            <% site_scans.each do |scan| %>

            <li class="with-list-info">
                <ul class="nav nav-pills nav-stacked">
                    <% scan.revisions.each do |revision| %>
                    <li class="<%= 'active' if @revision && @revision.id == revision.id %>">

                        <%= link_to [revision.scan.site, revision.scan, revision] do %>
                            #<%= revision.index %>

                            <span class="text-muted">
                                &ndash;
                                <%= pluralize revision.sitemap_entries.size, 'new page' %>,
                                10 fixed issues, <%= revision.issues.size %> new.
                            </span>
                        <% end %>
                    </li>

                        <% if (performed_at = revision.performed_at) %>
                        <li>
                            <small>
                                <span class="text-muted">
                                    Performed on <%= l performed_at %>.
                                </span>
                            </small>
                        </li>
                        <% end %>

                        <% if revision.in_progress? %>
                            <li>
                                <small>
                                    <span class="text-muted">
                                        <i class="fa fa-spin fa-circle-o-notch"></i>
                                        Started on <%= l revision.started_at %>.
                                    </span>
                                </small>
                            </li>
                        <% end %>
                    <% end %>
                </ul>
            </li>
            <% end %>
        </ul>
    </li>
</ul>
