<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Profile</th>
        <th>Description</th>
        <th>Revisions</th>
        <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @scans.each do |scan| %>
        <tr>
            <% if policy(scan).show? %>
                <td><%= link_to scan.name, [@site, scan] %></td>
            <% else %>
                <td><%= scan.name %></td>
            <% end %>

            <td><%= link_to scan.profile.name, scan.profile %></td>
            <td><%= scan.description %></td>
            <td><%= scan.revisions.size %></td>

            <% if policy(scan).edit? %>
                <td><%= link_to 'Edit', edit_site_scan_path( @site, scan ) %></td>
            <% end %>

            <% if policy(scan).destroy? %>
                <td><%= link_to 'Delete', [@site, scan], method: :delete,
                                data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        </tr>
    <% end %>
    </tbody>
</table>
