<%
   title 'Edit'
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site.url, site_path( @site )
   breadcrumb_add @scan, site_scan_path( @site, @scan )
%>

<% add_to_sidebar do %>
    <%= render partial: 'scans/sidebar' %>
<% end %>

<h1>
    Editing <%= link_to @scan, [@scan.site, @scan] %> scan
</h1>

<%= render 'form' %>

<%= link_to 'Show', [@site, @scan] %> |
<%= link_to 'Back', site_scans_path( @site ) %>
