<%
   title @scan.name
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @scan.url, site_path( @site )
%>

<div class="row">
    <div class="col-md-12" id="scan-info">
        <%= render partial: 'shared/scan_heading' %>

        <div class="description">
            <%= md @scan.description %>
        </div>

        <p class="text-muted">
            <% if @scan.scheduled? %>
                Running <%= link_to @scan.schedule, '#' %>.
            <% end %>
        </p>

        <% if (last_revision = @scan.last_revision) %>
            <p class="text-muted" id="scan-info-last-revision-time">
            <% if @scan.in_progress? %>
                <i class="fa fa-spin fa-circle-o-notch"></i>
                Started on <%= l last_revision.started_at %>
                &mdash;
                <%= Arachni::Utilities.seconds_to_hms last_revision.duration %>.
            <% elsif last_revision.stopped_at %>
                Last started on <%= l last_revision.started_at %>,
                stopped on <%= l last_revision.stopped_at %>
                &mdash;
                <%= Arachni::Utilities.seconds_to_hms last_revision.duration %>.
            <% end %>
            </p>
        <% end %>
    </div>
</div>

<hr/>

<%= render partial: 'shared/scans_with_issue_summary' %>
