<% if @health.any? %>
    <p class="alert alert-help">
        <i class="fa fa-info-circle"></i>

        You can <%= link_to 'adjust the HTTP request concurrency',
                            "#{edit_site_path( @site )}#!/site_profile_http_request_concurrency",
                            target: '_blank'
                    %>

        in order to find the perfect balance between performance and server stress.

        <br/>

        When necessary, the system will automatically throttle itself to match current conditions.
    </p>

  <div id="health-application-server-group" class="row">
    <div id="health-application" class="col-md-3 group">
      <h2>Application</h2>

      <div class="row">
        <%= render(partial: 'revisions/health/health_total_average_app_time', locals: { revision: @revision }) %>
      </div>

      <div class="row">
        <div class="chart-container col-md-12">
          <canvas id="current_total_average_app_time"></canvas>
        </div>
      </div>

      <div class="row">
        <div class="chart-container col-md-12">
            <canvas id="historic_total_average_app_time" height=180></canvas>
        </div>
      </div>
    </div>

    <div id="health-server" class="col-md-9 group">
      <h2>Server</h2>

        <div class="row">
          <%= render(partial: 'revisions/health/health_network_reliability', locals: { revision: @revision }) %>
          <%= render(partial: 'revisions/health/health_server_performance', locals: { revision: @revision }) %>
          <%= render(partial: 'revisions/health/health_server_responsiveness', locals: { revision: @revision }) %>
        </div>

      <div class="row">
        <div class="chart-container col-md-4">
            <canvas id="current_http_failed_count" height=180></canvas>
        </div>
        <div class="chart-container col-md-4">
            <canvas id="current_http_average_responses_per_second" height=180></canvas>
        </div>
        <div class="chart-container col-md-4">
            <canvas id="current_http_average_response_time" height=180></canvas>
        </div>
      </div>

      <div class="row">
        <div class="chart-container col-md-4">
            <canvas id="historic_http_failed_count"></canvas>
        </div>
        <div class="chart-container col-md-4">
            <canvas id="historic_http_average_responses_per_second"></canvas>
        </div>
        <div class="chart-container col-md-4">
            <canvas id="historic_http_average_response_time"></canvas>
        </div>
      </div>
    </div>
  </div>

  <div id="health-network" class="row">
    <div class="col-md-12 group">
      <h2>Network</h2>

      <div class="row">
        <div class="chart-container col-md-6" id="health-network_download">
          <h3>
            Download
          </h3>

          <p class="text-muted health-description">
          </p>
        </div>

        <div class="chart-container col-md-6" id="health-network_upload">
          <h3>
            Upload
          </h3>

          <p class="text-muted health-description">
          </p>
        </div>

      </div>

      <div class="row">
        <div class="chart-container col-md-6">
            <canvas id="current_download_kbps"></canvas>
        </div>
        <div class="chart-container col-md-6">
            <canvas id="current_upload_kbps"></canvas>
        </div>
      </div>

      <div class="row">
        <div class="chart-container col-md-6">
            <canvas id="historic_download_kbps"></canvas>
        </div>
        <div class="chart-container col-md-6">
            <canvas id="historic_upload_kbps"></canvas>
        </div>
      </div>
    </div>
  </div>

    <div id="health-client" class="row">
      <div class="col-md-12 group">

      <h2>Client</h2>

      <div class="row">
        <%= render(partial: 'revisions/health/health_browser_failed_job_count', locals: { revision: @revision }) %>
        <%= render(partial: 'revisions/health/health_scanner_performance', locals: { revision: @revision }) %>

        <div class="chart-container col-md-3" id="health-request_counter">
          <h3>
            HTTP request counter
          </h3>

          <p class="text-muted health-description">
            Nothing to add, just FYI.
          </p>
        </div>

        <div class="chart-container col-md-3" id="health-request_counter">
          <h3>
            Browser job counter
          </h3>

          <p class="text-muted health-description">
            Nothing to add, just FYI.
          </p>
        </div>

      </div>

      <div class="row">
        <div class="chart-container col-md-3">
            <canvas id="current_browser_job_failed_count"></canvas>
        </div>
        <div class="chart-container col-md-3">
            <canvas id="current_http_max_concurrency"></canvas>
        </div>
        <div class="chart-container col-md-3">
            <canvas id="current_http_request_count"></canvas>
        </div>
        <div class="chart-container col-md-3">
            <canvas id="current_browser_job_count"></canvas>
        </div>
      </div>

      <div class="row">
        <div class="chart-container col-md-3">
            <canvas id="historic_browser_job_failed_count"></canvas>
        </div>
        <div class="chart-container col-md-3">
            <canvas id="historic_http_max_concurrency"></canvas>
        </div>
        <div class="chart-container col-md-3">
            <canvas id="historic_http_request_count"></canvas>
        </div>
        <div class="chart-container col-md-3">
            <canvas id="historic_browser_job_count"></canvas>
        </div>
      </div>
      </div>
    </div>

  <script>
      window.performance_snapshots = <%= @health.to_json.html_safe %>;

      $(document).ready(function() {
        // Initialize Gauge Charts
        <%= render(
          partial: 'revisions/health/gauge_charts',
          formats: :js,
          locals: { revision: @revision, health: @health }
        ) %>

        // Initialize Line Charts
        <%= render(
          partial: 'revisions/health/line_charts',
          formats: :js,
          locals: { revision: @revision, health: @health }
        ) %>
      });
  </script>

<% else %>

    <p class="alert alert-info">
        No health data available.
    </p>

<% end %>
