<div id="issues-summary">
    <% if @site.scanned? %>
        <% if data[:issues].any? %>
            <div class="row">
                <div class="col-md-3 summary-sitemap-container" id="summary-sitemap">
                    <%= render partial: 'shared/scan_results/issues/sitemap',
                               locals: {
                                       data: data
                               } %>
                </div>

                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">
                            <%= render partial: 'shared/scan_results/issues/filter',
                                       locals: {
                                               data: data
                                       } %>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12" id="summary-data">
                            <% if data[:issues].count > 1 %>
                                <div class="row">
                                    <div class="col-md-12">
                                        <%= render partial: 'shared/scan_results/issues/statistics',
                                                   locals: {
                                                           data: data
                                                   } %>
                                    </div>
                                </div>

                              <div class="row">
                                <div class="col-md-12">
                                  <%= render partial: 'shared/scan_results/issues/chart',
                                             locals: {
                                                     data: data[:chart_data]
                                             } %>
                                </div>
                              </div>
                            <% end %>

                            <div class="row">
                                <div class="col-md-12 summary-issues-container" id="summary-issues">
                                    <%= render partial: 'shared/scan_results/issues/list',
                                               locals: {
                                                   id: 'summary',
                                                   data: data
                                           } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <% else %>
            <%= render partial: 'shared/scan_results/issues/filter',
                       locals: {
                               data: data
                       } %>
            <hr/>

            <% if @sitemap_entry %>
                <div class="well">
                    <p>
                        No issues for
                        <%= link_to_url_with_external(
                                    external: @sitemap_entry.url,
                                    internal: sitemap_entry_url( @sitemap_entry ),
                                    display_path_only: true
                            )
                        %>

                        <% if data[:sitemap_data][:issue_count] > 0 %>
                            , see issues for <%= link_to 'all pages', filter_params_without_page %>.
                        <% else %>
                            or any other page, <%= link_to 'clear all filters' %>.
                        <% end %>
                    </p>

                    <%
                       revisions_with_issues =
                               filter_issues_by_severity_and_state( @sitemap_entry.issues ).unique_revisions
                       if revisions_with_issues.any?
                    %>
                        <div>
                            You can visit revisions and scans which have logged issues for it:

                            <ul>
                                <% revisions_with_issues.each do |revision| %>
                                <li>
                                    <%= link_to revision,
                                                site_scan_revision_path(
                                                        revision.scan.site,
                                                        revision.scan,
                                                        revision,
                                                        filter_params
                                                ) %>
                                    of
                                    <%= link_to (@scan == revision.scan) ? 'this scan' : revision.scan,
                                                site_scan_path(
                                                        revision.scan.site,
                                                        revision.scan,
                                                        filter_params
                                            ) %>.
                                </li>
                                <% end %>
                            </ul>
                        </div>
                    <% end %>
                </div>
            <% else %>
                <p class="alert alert-info">
                    No issues.
                </p>
            <% end %>
        <% end %>
    <% else %>
        <p class="alert alert-info">
            No scan has started yet...
        </p>
    <% end %>
</div>
