<%
    coverage_entry_count = @revision.sitemap_entries.coverage.size
    issue_count          = @revision.issues.size
    max_severity         = @revision.issues.max_severity
    severities           = @revision.issues.count_severities
    performance_snapshot = @revision.performance_snapshot

    reviewed_issues_count = @revision.reviewed_issues.size

    reliabilities_t = {
      excellent: 0,
      good:      1,
      fair:      2,
      poor:      3
    }

    reliability = reliabilities_t.find do |k, v|
        v == [
          reliabilities_t[performance_snapshot.http_failed_count_state],
          reliabilities_t[performance_snapshot.browser_failed_job_count_state]
        ].max
    end.first

%>

<% if @revision.in_progress? %>
<script>
    window.scan_duration_seconds = <%= @revision.duration %>;
</script>
<% end %>

<div id="summary-statistics">
    <div class="row">
        <div class="col-md-2">
            <h3>
                <strong class="text text-state-<%= reliability %> health-state">
                    <%= reliability.capitalize %>
                </strong>

                reliability
            </h3>
        </div>

        <div class="col-md-2">
            <h3>
                <strong><%= coverage_entry_count %></strong>
                <%= 'page'.pluralize coverage_entry_count %>
            </h3>
        </div>

        <div class="col-md-5">
            <h3>
                <strong><%= issue_count %></strong>
                <%= 'issue'.pluralize issue_count %>

                <% if issue_count > 0 %>
                  ,
                    <span class="text-muted fs-6">
                        with a maximum severity of

                        <span class="badge label-severity-<%= max_severity %>">
                            <%= max_severity.capitalize %>
                        </span>
                    </span>
                <% end %>
            </h3>
        </div>

        <div class="col-md-3">
            <h3>
                <strong>
                    <%= reviewed_issues_count %>
                </strong>

                reviewed <%= 'issue'.pluralize reviewed_issues_count %>
            </h3>
        </div>
    </div>
</div>

<div id="live-stream-container">
    <% if issue_count > 0 %>
        <div class="row">
            <div class="col-md-12">
                <h4 id="live-stream-issue-severity-breakdown">
                    <%= render partial: '/shared/scan_results/issues/severity_breakdown',
                               locals: {
                                       severities: severities
                               } %>
                </h4>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-12">
            <h4 id="live-stream-clock"></h4>

            <% if @revision.in_progress? %>
                <div class="loading-bullets">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            <% end %>

        </div>
    </div>

    <div class="row">
        <div id="live-stream" class="col-md-12">

          <h4>
          <% if @revision.in_progress? %>

                <small class="scan-duration-clock-hms">
                  <%= seconds_to_hms @revision.duration %>
                </span>

            <% else %>
                <span class="text-muted fs-6">
                  <%= seconds_to_hms @revision.duration %>
                </span>
          <% end %>
          </h4>

            <%=  render( partial: 'shared/scan_results/summary/stream', formats: :html ) %>
        </div>
    </div>

</div>
