<table class="table data-flow table-hover">
  <th></th>
  <th>
    Object
  </th>
  <th>
    Method
  </th>
  <th>
    Argument index
  </th>
  <th>
    Argument value
  </th>
  <% data_flow['sinks'].each.with_index do |sink, i| %>
    <tr data-bs-toggle="collapse" data-bs-target="#<%= id %>-<%= i %>-debug" class="collapses">
      <th><%= i %></th>
      <td><code><%= sink['object'] %></code></td>
      <td><code><%= sink['method_name'] %></code></td>
      <td><code><%= sink['tainted_argument_index'] %></code></td>
      <td><code><%= sink['tainted_value'].inspect %></code></td>
    </tr>
    <tr id="<%= id %>-<%= i %>-debug" class="collapse">
      <td colspan="5">
        <div class="row">

          <% if sink['source'] %>
            <div class="col-md-6">
              <strong>Source</strong>
              <div>
                <code><%= sink['backtrace'].first %></code>
              </div>
              <div>
                <%
                  breakpoint = sink['backtrace'].first.split( ':' )[1].to_i - 1
                %>
                <code><%= code_highlight sink['source'], :ruby,
                                         from: breakpoint - 10,
                                         to: breakpoint + 10,
                                         breakpoint: breakpoint
                %></code>
              </div>
            </div>
          <% end %>

          <div class="col-md-6">
            <strong>Arguments list</strong>
            <code><%= code_highlight ::JSON.pretty_generate( sink['arguments'].map { |v| ::JSON.load v } ), :json %></code>
          </div>
        </div>

        <div class="row">

          <% if sink['method_source'] %>
            <div class="col-md-6">
              <strong>Method source</strong>
              <div>
                <code><%= sink['method_source_location'].join ':' %></code>
              </div>
              <code><%= code_highlight sink['method_source'], :ruby %></code>
            </div>
          <% end %>

          <div class="col-md-6">
            <strong>Backtrace</strong>
            <code><%= code_highlight ::JSON.pretty_generate( sink['backtrace'] ), :json %></code>
          </div>
        </div>
      </td>
    </tr>
  <% end %>
</table>
