<table class="table table-hover">
  <th></th>
  <th>
    Path
  </th>
  <th>
    Line
  </th>
  <th>
    Class
  </th>
  <th>
    Method
  </th>
  <th>
    Source
  </th>
  <th>
    Event
  </th>
<% execution_flow['points'].each.with_index do |point, i| %>
    <tr data-bs-toggle="collapse" data-bs-target="#<%= id %>-<%= i %>-debug" class="collapses">
      <th><%= i %></th>
      <td><%= point['path'] %></td>
      <td><%= point['line_number'] %></td>
      <td><code><%= point['class_name'] %></code></td>
      <td><code><%= point['method_name'] %></code></td>
      <td><code><%= point['source'] %></code></td>
      <td><code><%= point['event'] %></code></td>
    </tr>
    <tr id="<%= id %>-<%= i %>-debug" class="collapse">
      <td colspan="7">
        <code><%= code_highlight point['file_contents'], path_to_language( point['path'] ),
                                 from: point['line_number'] - 10,
                                 to: point['line_number'] + 10,
                                 breakpoint: point['line_number'] - 1
        %></code>
      </td>
    </tr>
<% end %>
</table>
