<div class="row">
    <div class="col-md-6" id="<%= id %>_initial">
        <h5>
            <a class="anchor"
               href="<%= id_to_location "#{id}_initial" %>">
                <span class="fa fa-link"></span>
            </a>

            Initial state
        </h5>

        <p class="text-muted">
            This is the original HTTP response body.
        </p>

        <%= code_highlight normalize_html( page.response.body ), :html,
                           line_numbers: true,
                           anchor_id:    "#{id}-initial"
        %>
    </div>

    <div class="col-md-6" id="<%= id %>_final" >
        <h5>
            <a class="anchor"
               href="<%= id_to_location "#{id}_final" %>">
                <span class="fa fa-link"></span>
            </a>

            Final state
        </h5>

        <p class="text-muted">
            This is the browser-evaluated body, as a result of the listed
            transitions.
        </p>

        <%= code_highlight normalize_html( page.dom.body ), :html,
                           line_numbers: true,
                           anchor_id:    "#{id}-final"
        %>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="<%= id %>_diff">
        <h5>
            <a class="anchor"
               href="<%= id_to_location "#{id}_diff" %>">
                <span class="fa fa-link"></span>
            </a>

            State differences
        </h5>

        <p class="text-muted">
            Differences between the <span class="text-danger">initial</span>
            and <span class="text-success">final</span> states.
        </p>

        <%= render 'issues/advanced/page/states/diff',
                   page: page,
                   id:  id %>
    </div>
</div>
