<%
    debug   ||= false
    counter   = 0
%>

<table class="table table-hover table-sm table-transitions">
    <thead>
        <tr>
            <th>#</th>

            <% if debug %>
                <th>Time</th>
            <% end %>

            <th>Event</th>
            <th>Element</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
    <% page.dom.transitions.sort_by(&:id).each do |transition|
           request = (transition.event == :request)
            next if request && !debug
    %>
        <tr
            id="<%= id %>-transitions-<%= counter %>"
            <%= 'class="text-muted request-transition"'.html_safe if request %>
        >
            <th>
                <a href="<%= id_to_location id %>/transitions/<%= counter %>">
                    <%= counter %>
                </a>
            </th>

            <% if debug %>
                <td><%= transition.time %></td>
            <% end %>

            <td><code><%= transition.event %></code></td>
            <td>
                <% if request %>
                    <a href="<%= transition.element %>">
                        <%= transition.element %>
                    </a>
                <% else %>
                    <code><%= transition.element %></code>
                <% end %>
            </td>
            <td>
                <table class="table table-sm table-borderless table-transition-options">
                    <% if (url = transition.options['url']) %>
                        <tr>
                            <th>URL</th>
                            <td>
                                <%= link_to url, url, target: '_blank' %>
                            </td>
                        </tr>
                    <% end %>

                    <% if (cookies = transition.options['cookies'] || {}).any? %>
                        <tr>
                            <th>Cookies</th>
                        </tr>
                        <tr>
                            <td>
                                <%=
                                    render '/shared/hash',
                                        code:   true,
                                        object: cookies
                                %>
                            </td>
                        </tr>
                    <% end %>

                    <% if (inputs = transition.options['inputs'] || {}).any? %>
                        <tr>
                            <th>Inputs</th>
                        </tr>
                        <tr>
                            <td>
                                <%= render '/shared/hash', code: true, object: inputs %>
                            </td>
                        </tr>
                    <% end %>

                    <% if (value = transition.options['value'])  %>
                        <tr>
                            <th>Value</th>
                            <td>
                                <code><%= value %></code>
                            </td>
                        </tr>
                    <% end %>
                </table>
            </td>
        </tr>
    <%
       counter += 1
       end %>

    </tbody>
</table>
