<%= simple_form_for @settings, html: { class: 'profile-form' } do |f| %>
    <%= f.error_notification %>

    <% if f.error_notification %>
        <div>
            <ul>
                <% @settings.errors.messages.each do |attribute, messages| %>
                    <li>
                        <%= link_to attribute.to_s.humanize, "#profile_#{attribute}", class: 'scroll' %>
                        <% if attribute != :plugins %>
                            <% if messages.size == 1 %>
                                <%= messages.first %>
                            <% else %>
                                <ul class="list-unstyled">
                                    <% messages.each do |message| %>
                                        <li>
                                            <span class="text text-muted">
                                                <%= message %>
                                            </span>
                                        </li>
                                    <% end %>
                                </ul>
                            <% end %>
                        <% else %>
                            <% if messages.size == 1 %>
                                <pre class="alert alert-danger"><%= messages.first %></pre>
                            <% else %>
                                <ul class="list-unstyled">
                                    <% messages.each do |message| %>
                                        <li>
                                            <pre><%= message %></pre>
                                        </li>
                                    <% end %>
                                </ul>
                            <% end %>
                        <% end %>
                    </li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div id="scans">
        <fieldset>
            <h2 id="scans-h">
                Scans
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :max_parallel_scans,
                                disabled: @settings.max_parallel_scans_auto?,
                                input_html: {
                                    value: @settings.max_parallel_scans || @slots_total_auto
                                },
                                label: 'Maximum parallel scans'
                    %>

                    <div class="form-group boolean optional setting_max_parallel_scans_auto">
                        <label class="boolean optional control-label"
                               for="setting_max_parallel_scans_auto">
                            Auto
                        </label>

                        <input class="boolean optional"
                               name="setting[max_parallel_scans_auto]"
                               id="setting_max_parallel_scans_auto"
                               data-slots-total="<%= @slots_total_auto %>"
                               type="checkbox"
                               <%= 'checked=checked' if @settings.max_parallel_scans_auto? %>/>
                    </div>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :max_parallel_scans ) %>

                    <p id="max_parallel_scans_auto-text text-muted"
                       class="text text-muted alert alert-info
                       <%= 'd-none' if !@settings.max_parallel_scans_auto? %>">

                        The system will determine the amount of scans that can
                        be safely run in parallel automatically, based on available
                        resources.
                        <br/>
                        <i>The shown number is an estimation and may fluctuate depending
                        on workload.</i>
                    </p>

                    <p id="max_parallel_scans-text text-muted"
                       class="text text-muted alert alert-warning
                       <%= 'd-none' if @settings.max_parallel_scans_auto? %>">

                        Please make sure that the machine has enough available
                        resources to accommodate the workload.
                        <br/>
                        A large number of scans may cause resource exhaustion for
                        low-end machines which can lead to instability and/or crashes.
                    </p>
                </div>
            </div>
        </fieldset>
    </div>

    <hr/>

    <div id="http">
        <fieldset>
            <h2 id="http-h">
                HTTP
                <small>How shall the scanner communicate with the remote server?</small>
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_proxy_host,
                                label: 'Proxy host',
                                placeholder: 'Direct connection'
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_proxy_host ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_proxy_port, label: 'Proxy port' %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_proxy_port ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_proxy_username,
                                label: 'Proxy username',
                                placeholder: 'No proxy authentication'
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_proxy_username ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_proxy_password, as: :string,
                                label: 'Proxy password',
                                placeholder: 'No proxy authentication' %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_proxy_password ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_request_queue_size,
                                label: 'Request queue size',
                                placeholder: SCNR::Engine::Options.http.request_queue_size.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_request_queue_size ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_request_timeout,
                                label: 'Request timeout',
                                placeholder: SCNR::Engine::Options.http.request_timeout.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_request_timeout ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_request_redirect_limit,
                                label: 'Redirect limit',
                                placeholder: SCNR::Engine::Options.http.request_redirect_limit.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_request_redirect_limit ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :http_response_max_size,
                                label: 'Maximum response size',
                                placeholder: SCNR::Engine::Options.http.response_max_size.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :http_response_max_size ) %>
                </div>
            </div>

        </fieldset>
    </div>

    <hr/>

    <div id="browser">
        <fieldset>
            <h2 id="browser-h">
                Browser
                <small>Browser-related options.</small>
            </h2>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :dom_pool_size,
                                label: 'Processes',
                                placeholder: SCNR::Engine::Options.dom.pool_size.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :dom_pool_size ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :dom_worker_time_to_live,
                                label: 'Time to summary',
                                placeholder: SCNR::Engine::Options.dom.worker_time_to_live.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :dom_worker_time_to_live ) %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <%= f.input :dom_job_timeout,
                                label: 'Timeout',
                                placeholder: SCNR::Engine::Options.dom.job_timeout.to_s
                    %>
                </div>
                <div class="col-md-6 input-help">
                    <%= messages_for( :dom_job_timeout ) %>
                </div>
            </div>

        </fieldset>
    </div>

    <div class="form-actions">
        <%= f.button :submit, class: 'd-none',
                     value: (@settings.id ? 'Update' : 'Create') %>
    </div>
<% end %>
