<table id="scans-schedule" class="table table-condensed table-striped table-hover">
    <thead>
    <tr>
        <th>Name</th>
        <th>Starts at</th>
        <th>Stops after</th>
        <th>Every</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @schedules.each do |schedule| %>
        <tr>
            <td>
                <%= link_to schedule.scan,
                            site_scan_path(
                                    schedule.scan.site,
                                    schedule.scan
                            )%>
            </td>

            <td>
                <% if schedule.due? %>
                    <span
                    title="Parallel scan limit has been reached, the scan will run as soon as there's an available slot."
                    class="label label-info">ASAP</span>
                <% elsif schedule.in_progress? %>
                    <i title="Scan is in progress."
                       class="fa fa-spin fa-circle-o-notch"></i>
                <% else %>
                    <%= l( schedule.start_at ) %>
                <% end %>
            </td>

            <td>
                <%= if schedule.stop_after_hours
                        schedule.stop_after_hours.to_i.to_s + ' hours'
                    end %>
            </td>

            <td>
                <%= if schedule.day_frequency
                        pluralize( schedule.day_frequency, 'day' )
                    end %>

                <%= 'and' if schedule.day_frequency && schedule.month_frequency %>

                <%= if schedule.month_frequency
                        pluralize( schedule.month_frequency, 'month' )
                    end %>
            </td>

            <td>
                <%= link_to edit_site_scan_path( @site, schedule.scan ),
                            title: 'Edit scan settings.',
                            class: 'btn btn-sm btn-warning' do %>
                    <i class="fa fa-pencil"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
