<h5>
    <a id="<%= id %>-arguments-all" href="<%= id_to_location id %>/arguments/all">
        All
    </a>
</h5>

<%= highlight_proof( data_dump( sink.function.arguments ), sink.taint_value ).html_safe %>

<hr/>

<h5>
    <a id="<%= id %>-arguments-tainted" href="<%= id_to_location id %>/arguments/tainted">
        Tainted
    </a>
</h5>

<table class="table table-condensed table-fixed">
    <% if sink.tainted_argument_value != sink.tainted_value %>
        <col width="10%"/>
        <col width="45%"/>
        <col width="45%"/>
    <% else %>
        <col width="10%"/>
        <col width="90%"/>
    <% end %>

    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Value
            </th>

            <% if sink.tainted_argument_value != sink.tainted_value %>
            <th>
                Tainted value (located recursively in the argument value)
            </th>
            <% end %>
        </tr>
    </thead>
    <tr>
        <td>
            <% if sink.tainted_argument_name %>
                <code><%= sink.tainted_argument_name %></code>
            <% else %>
                <p class="alert alert-info">
                    Undeclared
                </p>
            <% end %>
        </td>
        <td>
            <%= highlight_proof( data_dump( sink.tainted_argument_value ), sink.taint_value ).html_safe %>
        </td>

        <% if sink.tainted_argument_value != sink.tainted_value %>
        <td>
            <%= highlight_proof( data_dump( sink.tainted_value ), sink.taint_value ).html_safe %>
        </td>
        <% end %>
    </tr>
</table>
