<% if @site_role %>

    <% if !@site_role.guest? %>
        <hr/>

        <% if submit %>
            <button class="btn btn-default btn-primary"
                    onclick="$('.site_role-form').submit()">

                <%= @site_role.id ? 'Update' : 'Create' %>
            </button>
        <% else %>
            <%= render 'actions', site_role: @site_role %>
        <% end %>
    <% end %>

    <hr/>

    <ul id="sidebar-roles" class="nav nav-pills nav-stacked">
        <li class="nav-header">
            <a>
                Roles
            </a>
        </li>

        <%
           @site.roles.each do |role|
               scan_count = role.scans.count
        %>
            <li
                id="sidebar-role-<%= role.id %>"

                <% if @site_role == role %>
                    class="active"
                <% end %>

                <% if scan_count > 0 %>
                    title="<%= pluralize scan_count, 'scan' %>"
                <% else %>
                    title="No scans"
                <% end %>
            >
                <%= link_to site_role_path( @site, role ) do %>
                    <%= role %>

                    <% if scan_count > 0 %>
                        <span class="badge badge-info">
                            <%= scan_count %>
                        </span>
                    <% end %>
                <% end %>
            </li>
        <% end %>
    </ul>

    <%= render partial: 'shared/sidebar_scans',
               locals: {
                   scans: @scans,
                   scan_details_options: {
                       hide_scan_name: true
                   }
               } %>
<% end %>
