<table id="table" class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Login type</th>
        <th>Scans</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @site_roles.each do |site_role| %>
        <tr>
            <td>
                <a href="#!/roles/<%= site_role.id %>"
                   data-js="<%= site_role_path( site_role.site, site_role ) %>">
                    <%= site_role.name %>
                </a>
            </td>

            <td>
                <%= site_role.login_type %>
            </td>

            <td>
                <%= site_role.scans.size %>
            </td>

            <td>
                <a href="#!/roles/<%= site_role.id %>/edit"
                   class="btn btn-sm btn-warning"
                   data-js="<%= edit_site_role_path( site_role.site, site_role ) %>">
                    <i class="fa fa-pencil"></i>
                </a>

                <% if site_role.scans.empty? %>
                    <%= link_to site_role_path( site_role.site, site_role ),
                                method: :delete,
                                remote: true,
                                class: 'btn btn-sm btn-danger',
                                data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
