<tr data-site-role-id=<%= site_role.id %>>
    <td>
        <a href="<%= site_role_path( site_role.site, site_role ) %>">
            <%= site_role.name %>
        </a>
    </td>

    <td>
        <%= site_role.login_type %>
    </td>

    <td>
        <%= site_role.scans.size %>
    </td>

    <td>
        <%= render 'actions', site_role: site_role %>
    </td>
</tr>
