<table id="table" class="table table-hover table-striped table-condensed">
    <thead>
    <tr>
        <th>Name</th>
        <th>Login type</th>
        <th>Scans</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    <% @site_roles.each do |site_role| %>
        <tr>
            <td>
                <%= link_to site_role.name, site_role_path( site_role.site, site_role ), remote: true %>
            </td>

            <td>
                <%= site_role.login_type %>
            </td>

            <td>
                <%= site_role.scans.size %>
            </td>

            <td>
                <%= link_to edit_site_role_path( site_role.site, site_role ),
                            remote: true,
                            class: 'btn btn-sm btn-warning' do %>
                    <i class="fa fa-pencil"></i>
                <% end %>

                <% if site_role.scans.empty? %>
                    <%= link_to site_role_path( site_role.site, site_role ),
                                method: :delete,
                                remote: true,
                                class: 'btn btn-sm btn-danger',
                                data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
