<%
   coverage_entry_count = @summary[:coverage].size
%>

<% if coverage_entry_count > 0 %>
    <div class="live-stream-entry">
        <div class="row">
            <div class="col-md-12">
                <h3>
                    <%= coverage_entry_count %> scanned <%= 'page'.pluralize coverage_entry_count %>
                </h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <ul class="list-unstyled">
                    <% @summary[:coverage].each do |entry| %>
                        <li>
                            <code>[<%= entry.code %>]</code>

                            <%= link_to entry.url, target: '_blank' do %>
                                <%= url_without_scheme_host_port( entry.url ) %>
                                <i class="fa fa-external-link"></i>
                            <% end %>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
<% end %>
