<%= link_to site_scan_revision_issue_path( issue.site_id, issue.scan, issue.revision, issue ),
            title: issue.state.humanize do %>
    <i class="fa fa-<%= issue_state_to_icon issue.state %>">
    </i>

&#8212;

    <%= issue.type.name %>
</a>
<% end %>

<% if issue.input_vector.affected_input_name %>
    in
    <code><%= issue.input_vector.kind %></code> input
    <code><%= issue.input_vector.affected_input_name %></code>
<% end %>

at

<%= link_to_url_with_external(
            external: issue.input_vector.action,
            internal: sitemap_entry_url( issue.sitemap_entry ),
            display_path_only: true
    )
%>
