<table class="table table-condensed table-fixed">
    <col width="4%" />
    <col width="74%" />
    <col width="5%" />
    <col width="12%" />
    <col width="6%" />

    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                URL
            </th>
            <th>
                Line
            </th>
            <th>
                Function
            </th>
            <th></th>
        </tr>
    </thead>
    <% trace.sort_by(&:id).each.with_index do |frame, i|

           with_source = (frame.line.to_i > 0 && frame.url == page.dom.url) ||
                   !frame.function.source.to_s.empty?

           inspectable = with_source || frame.function.arguments.any?
    %>
        <tr id="<%= id %>-<%= i %>">
            <th>
                <strong>
                    <a href="<%= id_to_location id %>/<%= i %>">
                        <%= i %>
                    </a>
                </strong>
            </th>
            <% if inspectable %>
                <td>
                    <%= link_to frame.url, frame.url, target: '_blank' %>
                </td>
                <td>
                    <% if frame.line.to_i > 0 && frame.url == page.dom.url %>
                        <a href="<%= id_to_location "advanced_affected_page_dom_processing-final-#{frame.line}" %>">
                            <%= frame.line %>
                        </a>
                    <% else %>
                        <%= frame.line %>
                    <% end %>
                </td>
                <td>
                    <% if frame.function.signature %>
                        <code><%= frame.function.signature %></code>
                    <% else %>
                        N/A
                    <% end %>
                </td>

                <td>
                    <a href="javascript:void(0);"
                       onclick="$('#<%= id %>-<%= i %>-inspect').toggle()"
                       class="btn btn-info btn-xs">
                        Inspect
                    </a>
                </td>
            <% else %>
                <td colspan="4">
                    <p class="alert alert-info">
                        This call lacks context, it was probably executed via
                        <a target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/eval">eval()</a>
                        or performed under <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Strict_mode">JavaScript strict-mode</a>.
                    </p>
                </td>
            <% end %>
        </tr>

        <% if inspectable %>
        <tr id="<%= id %>-<%= i %>-inspect" class="inspection">
            <td colspan="5">
                <ul class="nav nav-tabs">

                    <% has_active = false %>
                    <% if frame.function.arguments %>
                        <% has_active = true %>

                        <li class="active">
                            <a data-turbo="false" href="<%= id_to_location id %>/<%= i %>/inspect/arguments">
                                Arguments
                            </a>
                        </li>
                    <% end %>

                    <% if with_source %>
                        <li <%= 'class="active"' if !has_active %>>
                            <a data-turbo="false" href="<%= id_to_location id %>/<%= i %>/inspect/source">
                                Source
                            </a>
                        </li>
                    <% end %>
                </ul>

                <div class="tab-content">

                    <% has_active = false %>
                    <% if frame.function.arguments %>
                        <% has_active = true %>
                    <div class="tab-pane active" id="<%= id %>-<%= i %>-inspect-arguments">
                        <%= data_dump frame.function.arguments %>
                    </div>
                    <% end %>

                    <% if with_source %>
                        <div class="tab-pane <%= 'active' if !has_active %>"
                             id="<%= id %>-<%= i %>-inspect-source">

                            <%= render 'issues/advanced/page/sink/frame/source',
                                    id:    "#{id}-#{i}-inspect",
                                    frame: frame,
                                    page:  page
                            %>
                        </div>
                    <% end %>
                </div>

            </td>
        </tr>
        <% end %>

    <% end %>
</table>
