<%
   scans        = data[:scans]
   revisions    = data[:revisions]
   sitemap      = data[:sitemap]
   sitemap_with_issues = data[:sitemap_with_issues]
   issues_count = data[:unique_issues_count]
   max_severity = data[:max_severity]
   severities   = data[:severities]
%>

<div id="summary-statistics">
    <div class="row">
        <% if !@sitemap_entry %>
            <div class="col-md-4">
                <h3>
                    <strong><%= sitemap_with_issues.size %></strong>
                    <%= 'page'.pluralize sitemap_with_issues.size %>
                    with issues,

                    <small>
                        out of
                        <strong>
                            <%= sitemap.size %>
                        </strong>
                    </small>
                </h3>
            </div>
        <% end %>

        <div class="col-md-<%= @sitemap_entry ? '6' : '5' %>">
            <h3>
                <strong><%= issues_count %></strong>
                <%= 'issues'.pluralize issues_count %>,

                <% if issues_count > 0 %>
                    <small>
                        with a maximum severity of

                        <span class="badge label-severity-<%= max_severity %>">
                            <%= max_severity.capitalize %>
                        </span>
                    </small>
                <% end %>
            </h3>
        </div>

        <div class="col-md-<%= @sitemap_entry ? '6' : '3' %>">
            <h3>
                <strong><%= rc = revisions.size %></strong>
                <%= 'revision'.pluralize rc %>,

                <small>
                    from <strong><%= scans.size %></strong>
                    <%= 'scan'.pluralize(scans.size) %>
                </small>
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>
                <%= render partial: '/shared/scan_results/issues/severity_breakdown', locals: {
                    severities: severities
                } %>
            </h4>
        </div>
    </div>
</div>
