<%
   issue_count  = severities.values.inject(:+)
   severities   = severities.reject { |_, count| count == 0 }
   severities_a = severities.keys
%>

<h3>
    <%= issue_count %> <%= 'issue'.pluralize issue_count %>,

    <small>
        <% severities_a.each_with_index do |severity, i| %>
            <%= 'and' if i > 0 && severity == severities_a[severities_a.size-1] %>

            <span class="text-severity text-severity-<%= severity %>">
                <%= severities[severity] %> <%= severity %>
            </span>

            <%= ',' unless severities.size == 1 || i >= severities_a.size - i %>
        <% end %>

        severity
    </small>
</h3>
