<%
   wrapper      ||= 'div'
   show_current ||= false
   highlight    ||= false

   if snapshot[attribute].blank? && current[attribute].blank?
       changed = false
   else
       changed = snapshot[attribute] != current[attribute]
   end

   get_content = proc do |snapshot, current|
%>

    <%= content_tag 'div',
                    # id: "#{attribute}-snapshot",
                    class: "#{attribute}-snapshot configuration-snapshot-value" +
                        (' bg bg-warning' if highlight && changed).to_s do %>
        <% yield snapshot, changed, true %>
    <% end %>

    <% if show_current && changed %>
        <button class="btn btn-inverse btn-primary btn-xs btn-toggle-current-value"
                type="button" data-toggle="collapse"
                data-target="#<%= current.hash %>" aria-expanded="false"
                aria-controls="collapseExample">
            Toggle visibility of current value
        </button>

        <div class="collapse in bg-info configuration-current-value <%= attribute %>-current"
             id="<%= current.hash %>">
            <%= yield current, changed, false %>
        </div>
    <% end %>
<% end %>

<%= content_tag wrapper, class: attribute do %>
    <% get_content.call(
               snapshot.send( attribute ),
               current.send( attribute ),
               changed
       ) %>
<% end %>
