<div class="btn-group" role="group">
    <%= link_to site_path( site, filter_params ), title: 'Site overview',
                class: select_button_class( site_path( site ), false ) + ' btn-primary' do %>
        <i class="fa fa-home"></i>
    <% end %>

    <%= link_to site_scans_path( site ), title: 'Scans',
                class: select_button_class( site_scans_path( site ) ) + ' btn-default' do %>
        <i class="fa fa-tasks"></i>
    <% end %>

    <%= link_to site_roles_path( site ), title: 'User roles',
                class: select_button_class( site_roles_path( site ) ) + ' btn-default' do %>
        <i class="fa fa-users"></i>
    <% end %>

    <%= link_to edit_site_path( site ), title: 'Settings',
                class: select_button_class( edit_site_path( site ) ) + ' btn-default' do %>
        <i class="fa fa-cog"></i>
    <% end %>

    <%= link_to site, method: :delete,
                title: 'Delete site',
                class: 'btn btn-sm btn-danger',
                data: {
                        confirm: 'Deleting this site will destroy all ' +
                                         'associated data, are you sure?'
                } do %>
        <i class="fa fa-trash"></i>
    <% end %>
</div>
