<%
  no_delete = !!local_assigns.include?(:no_delete_button)
%>

<div class="btn-group" role="group">
    <%= link_to site_path( site ),
                title: 'Site overview',
                class: select_button_class(
                               site_path( site ),
                               include_actions: ScanResults::SCAN_RESULT_ACTIONS
                       ) do %>
        <i class="fa fa-globe"></i>
    <% end %>

    <%= link_to site_scans_path( site ), title: 'Scans',
                class: select_button_class( site_scans_path( site ) ) do %>
        <i class="fa fa-bolt"></i>
    <% end %>

    <%= link_to site_roles_path( site ), title: 'User roles',
                class: select_button_class( site_roles_path( site ) ) do %>
        <i class="fa fa-users"></i>
    <% end %>

    <%= link_to edit_site_path( site ), title: 'Settings',
                class: select_button_class( edit_site_path( site ) ) do %>
        <i class="fa fa-cog"></i>
    <% end %>

  <% if !no_delete && !site.being_scanned? %>
    <%= link_to site,
                title: 'Delete site',
                class: 'btn btn-sm btn-danger',
                data: {
                  turbo_method: :delete,
                  turbo_confirm: 'Deleting this site will destroy all ' +
                                         'associated data, are you sure?'
                } do %>
        <i class="fa fa-trash"></i>
    <% end %>
  <% end %>
</div>
