<div class="row-fluid">
    <div class="col-md-12">
        <%= simple_form_for(@site) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
                <%= f.input :protocol %>
                <%= f.input :host, placeholder: 'example.com or test.example.com' %>
                <%= f.input :port %>
            </div>

            <div class="form-actions">
                <%= f.button :submit, value: 'Update' %>
            </div>
        <% end %>
    </div>
</div>
