<div class="row-fluid">
    <div class="col-md-4">
        <h2>
            Connection info
        </h2>

        <%= simple_form_for(@site) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
                <%= f.input :protocol %>
                <%= f.input :host, placeholder: 'example.com or test.example.com' %>
                <%= f.input :port %>
            </div>

            <div class="form-actions">
                <%= f.button :submit, value: 'Update' %>
            </div>
        <% end %>
    </div>

    <% if @site.id %>
        <div class="col-md-3">
            <h2>
                Users
            </h2>

            <ul>
                <% (@site.users - [current_user]).each do |user| %>
                    <li>
                        <%= link_to user, user %> -
                        <%= link_to 'Remove', user %>
                    </li>
                <% end %>
            </ul>

            <%= simple_form_for :site_invite_user, url: invite_user_site_path do |f| %>
                <%= f.input :email, placeholder: 'E-mail address', label: false %>

                <div class="form-actions">
                    <%= f.button :submit, value: 'Invite' %>
                </div>
            <% end %>
        </div>

        <div class="col-md-5">
            <h2>
                Ownership verification
            </h2>

            <%= refreshable_element action: :verification_form do
                render partial: 'form_verification'
            end %>
        </div>
    <% end %>

</div>
