<%
   site ||= @site
%>

<% if site.verification.verified? %>
    Verified, please wait, you are being redirected...

    <script>window.location = '<%= url_for(site) %>'; </script>
<% elsif site.verification.started? %>
    In progress
<% else %>
    <p>
        Please create a file at
        <code><%= link_to site.verification.url, site.verification.url %></code>
        with the following content:
    </p>

    <p>
        <textarea id="site-verification-code"><%= site.verification.code %></textarea>
    </p>

    <div>
        <strong>Linux shell command:</strong>
        <pre>echo <%= site.verification.code %> > <%= site.verification.filename %></pre>
    </div>

    <p>
        <%= link_to 'Verify', verify_site_path( site ), method: :put, remote: true,
                    class: 'btn btn-sm btn-primary' %>
    </p>

    <p class="alert">
        <%= site.verification.state.to_s.capitalize %>:
        <%= site.verification.message %>
    </p>
<% end %>
