<div class="row mb-3">
    <div class="col-md-12">
        <%= simple_form_for @site, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
            <%= f.error_notification %>
            <%= f.input :protocol, as: :select, default: :http, collection: [:http, :https], wrapper_html: { class: 'col-auto' } %>
            ://
            <%= f.input :host, placeholder: 'www.example.com', wrapper_html: { class: 'col-auto' } %>
            :
            <%= f.input :port, wrapper_html: { class: 'col-auto' } %>
            <%= f.button :submit, value: 'Add', wrapper_html: { class: 'col-auto' } %>
        <% end %>
    </div>
</div>
