<% sites.each do |site| %>
    <h2>
        <% if policy(site).verify? %>
            <small>
                (<%= site.verified? ? 'Verified' : 'Unverified' %>)
            </small>
        <% end %>

        <% if site.verified? %>
            <%= link_to site.url, site_path( site ) %>
        <% else %>
            <%= link_to site.url, verification_site_path( site ) %>
        <% end %>

        <small>
            <% if policy(site).edit? %>
                <%= link_to 'Edit', edit_site_path( site ) %>
                -
            <% end %>

            <% if policy(site).destroy? %>
                <%= link_to 'Delete', site, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </small>
    </h2>
<% end %>
