<%
   scans     = @issues_summary[:scans]
   scan_data = @issues_summary[:scan_data]
%>

<ul id="site-sidebar" class="nav nav-pills nav-stacked">
    <li>&nbsp;</li>

    <li class="<%= 'active' if request.path == site_path( @site ) %>">
        <%= link_to site_path( @site, filter_params ) do %>
            Site overview
        <% end %>

        <hr/>
    </li>

    <% scans.each do |scan|
        max_severity   = scan_data[scan.id] ?
                scan_data[scan.id][:max_severity] : nil

        issue_count    = scan_data[scan.id] ?
                scan_data[scan.id][:issue_count] : 0

        revision_count = scan.revisions.size

        if revision_count > 0 && issue_count == 0
            max_severity = 'none'
        end
    %>

    <li
        id="site-sidebar-scan-id-<%= scan.id %>"
        <% if revision_count > 0 %>
            <% if issue_count > 0 %>
                title="<%= pluralize issue_count, 'issue' %> with a maximum severity of <%= max_severity %>."
            <% else %>
                title="<%= pluralize issue_count, 'issue' %>."
            <% end %>
        <% else %>
            title="Has not run yet."
        <% end %>
    >
        <%= link_to site_scan_path( scan.site, scan, filter_params ) do %>
            <%= scan.name %>

            <i class="fa fa-arrow-right">
                <% if revision_count > 0 %>
                    <span class="badge badge-severity-<%= max_severity %>">
                        <%= issue_count %>
                    </span>
                <% end %>
            </i>
        <% end %>
    </li>

    <li class="sidebar-info" id="site-sidebar-scan-id-<%= scan.id %>-info">
        <small>
            <span class="text-muted">
                <% if revision_count > 0 %>
                    <%= pluralize scan.revisions.size, 'revision' %>,
                    <%= pluralize scan.sitemap_entries.size, 'page' %>
                    using <%= link_to scan.profile %>.
                <% elsif scan.scheduled? %>
                    Running <%= link_to scan.schedule, '#' %>.
                <% else %>
                    Has not run.
                <% end %>
            </span>
        </small>

        <% if scan.in_progress? %>
            <br/>

            <small>
                <span class="text-muted">
                    <i class="fa fa-spin fa-circle-o-notch"></i>
                    Started on <%= l scan.revisions.last.started_at %>.
                </span>
            </small>
        <% elsif (last_performed_at = scan.last_performed_at) %>
            <br/>

            <small>
                <span class="text-muted">
                    Last performed on <%= l last_performed_at %>.
                </span>
            </small>
        <% end %>
    </li>
    <% end %>
</ul>
