<%
   scans     = @site_sidebar[:scans]
   scan_data = @site_sidebar[:data]

   total_scan_count   = @site.scans.count
   current_scan_count = scans.count
%>

<%= render 'shared/sidebar_site', locals: { no_delete_button: true } %>

<% if scans.any? %>

<hr/>

<ul id="sidebar-scans" class="nav nav-pills nav-stacked">
    <li class="nav-header">
        <a>
            Scans

            <% if total_scan_count != current_scan_count %>
                &mdash;
                Showing <%= current_scan_count %> out of
                <%= total_scan_count %>
            <% end %>
        </a>
    </li>

    <%
       scans.each do |scan|
            next if !scan.id

            max_severity   = scan_data[scan.id] ?
                    scan_data[scan.id][:max_severity] : nil

            issue_count    = scan_data[scan.id] ?
                    scan_data[scan.id][:issue_count] : 0

            revision_count = scan.revisions.size

            if revision_count > 0 && issue_count == 0
                max_severity = 'none'
            end
    %>

        <li id="sidebar-scans-id-<%= scan.id %>"

            <% if revision_count > 0 %>
                <% if issue_count > 0 %>
                    title="<%= pluralize issue_count, 'issue' %> with a maximum severity of <%= max_severity %>."
                <% else %>
                    title="<%= pluralize issue_count, 'issue' %>."
                <% end %>
            <% else %>
                title="Has not run yet."
            <% end %>
        >
            <%= link_to_with_filters scan do %>
                <%= scan.name %>

                <i class="fa fa-arrow-right">
                </i>

                <% if revision_count > 0 %>
                    <span class="badge badge-severity-<%= max_severity %>">
                        <%= issue_count %>
                    </span>
                <% end %>
            <% end %>
        </li>

        <li class="sidebar-info" id="sidebar-scans-id-<%= scan.id %>-info">
            <small class="text-muted">
                <%= render partial: '/shared/scan_info', locals: {
                        scan: scan
                } %>

                <% if lr = scan.last_revision %>
                    <%= render partial: '/shared/revision_info', locals: {
                            revision:       lr,
                            hide_scan_name: true
                    } %>
                <% end %>
            </small>
        </li>
    <% end %>
</ul>
<% end %>
