<%
   site       = @issues_summary[:site]
   site_scans = @issues_summary[:scans]
%>

<ul id="site-sidebar" class="nav nav-pills nav-stacked">
    <li>
        <ul class="nav nav-vertical">
            <% site_scans.each do |scan| %>
            <% next if !policy(scan).show? %>

            <li class="with-list-info">

                <% if !@scan %>
                <span class="sidebar-scan-actions">
                    <% if policy(scan).edit? %>
                        <%= link_to edit_site_scan_path( site, scan ),
                                    class: 'btn btn-xs btn-warning' do %>
                            <i class="fa fa-pencil"></i>
                        <% end %>
                    <% end %>

                    <% if policy(scan).destroy? %>
                        <%= link_to [site, scan], method: :delete,
                                    class: 'btn btn-xs btn-danger',
                                    data: { confirm: 'Are you sure?' } do %>
                            <i class="fa fa-trash"></i>
                        <% end %>
                    <% end %>
                </span>

                <%= link_to [scan.site, scan], class: 'with-actions' do %>
                    <%= scan.name %>

                    <span class="text-muted">
                        &ndash; <%= pluralize scan.sitemap_entries.size, 'page' %>,
                        <%= pluralize scan.issues.size, 'issue' %>.
                    </span>
                <% end %>

                <p class="text-muted">
                    <small>
                        On <%= link_to scan.plan.name, '#' %> plan, using
                        <%= link_to scan.profile, scan.profile %>.

                        <% if scan.schedule.recurring? %>
                            Running <%= link_to scan.schedule, '#' %>.
                        <% end %>
                    </small>
                </p>
                <% end %>
            </li>
            <% end %>
        </ul>
    </li>
</ul>
