<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>URL</th>
            <th>State</th>
            <th>Issues</th>
            <th>Revisions</th>
            <th>Scans</th>
            <th>Last scanned</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% sites.each do |site| %>
        <tr>
            <td>
                <%= link_to_url_with_external external: site.url, internal: site %>
            </td>

            <td class="state">
                <% if site.scanned_or_being_scanned? %>
                    <% if (sz = site.issues.high_severity.size) > 0 %>
                        <span class="label-severity label-lg label-severity-high">Critical</span>

                        &mdash; <%= sz %> <a href="#">high</a> severity issues
                    <% elsif (sz = site.issues.medium_severity.size) > 0 %>
                        <span class="label-severity label-severity-medium">Serious</span>

                        &mdash; <%= sz %> <a href="#">medium</a> severity issues
                    <% elsif (sz = site.issues.low_severity.size) > 0 %>
                        <span class="label-severity label-severity-low">Fair</span>

                        &mdash; <%= sz %> <a href="#">low</a> severity issues
                    <% elsif site.issues.informational_severity.any? %>
                        <span class="label-severity label-severity-informational">Good</span>

                        &mdash; only has <a href="#">informational</a> findings
                    <% else %>
                        <span class="label-severity label-severity-none">Good</span>

                        &mdash; no issues
                    <% end %>
                <% else %>
                    <span class="label-severity label-severity-undetermined">Undetermined</span>
                <% end %>
            </td>

            <td>
                <%= site.issues.size %>
            </td>

            <td>
                <%= site.revisions.count %>
            </td>

            <td>
                <%= site.scans.size %>
            </td>

            <td class="last-scanned">
                <% has_something = false %>

                <% if site.being_scanned? %>
                    <% has_something = true %>
                    <%= link_to [site, site.last_revision.scan, site.last_revision] do %>
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                    <% end %>
                <% end %>

                <% if (last_performed = site.revisions.last_performed) %>
                    <% has_something = true %>

                    <%= link_to [site, last_performed.scan, last_performed] do %>
                        <%= time_ago_in_words last_performed.performed_at %> ago
                    <% end %>
                <% end %>

                <% if !has_something %>
                    never
                <% end %>
            </td>

            <td>
                <%= link_to site, method: :delete, class: 'btn btn-sm btn-danger',
                            data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash"></i>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
