<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>URL</th>
            <th>State</th>
            <th>Issues</th>
            <th>Scans</th>
            <th>Revisions</th>
            <th>Last scanned</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    <% sites.each do |site| %>
        <tr>
            <td>
                <span class="site-favicon-container">
                    <%= render partial: 'favicon', locals: { site: site } %>
                </span>

                <%= link_to_with_filters site.url, site %>
            </td>

            <td class="state">
                <% if site.scanned_or_being_scanned? %>
                    <% if (max_severity = site.issues.max_severity) %>
                        <span class="label-severity label-lg label-severity-<%= max_severity %>">
                            <%= issue_severity_to_site_status( max_severity ).capitalize %>
                        </span>

                        <% count = site.issues.send( "#{max_severity}_severity" ).size %>

                        &mdash; <%= count %>
                        <a href="<%= site_path site %>#issue-summary-severity-<%= max_severity %>"><%= max_severity %></a>
                        severity <%= 'issue'.pluralize count %>
                    <% else %>
                        <span class="label-severity label-severity-none">Good</span>

                        &mdash; no issues
                    <% end %>
                <% else %>
                    <span class="label-severity label-severity-undetermined">Undetermined</span>
                <% end %>
            </td>

            <td>
                <%= site.issues.size %>
            </td>

            <td>
                <%= site.scans.size %>
            </td>

            <td>
                <%= site.revisions.count %>
            </td>

            <td class="last-scanned">
                <% has_something = false %>

                <% if site.being_scanned? %>
                    <% has_something = true %>
                    <%= link_to [site, site.last_revision.scan, site.last_revision] do %>
                        <i class="fa fa-spin fa-circle-o-notch"></i>
                    <% end %>
                <% end %>

                <% if (last_performed = site.revisions.last_performed) %>
                    <% has_something = true %>

                    <%= link_to [site, last_performed.scan, last_performed] do %>
                        <%= time_ago_in_words last_performed.performed_at %> ago
                    <% end %>
                <% end %>

                <% if !has_something %>
                    never
                <% end %>
            </td>

            <td>
                <%= render partial: 'buttons', locals: { site: site } %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
