<table class="table table-hover table-striped">
    <tbody>
    <% sites.each do |site| %>
        <tr>
            <td>
                <% if policy(site).show? %>
                    <%= link_to_url_with_external site.url, site %>
                <% else %>
                    <%= link_to_url_with_external site.url %>
                <% end %>
            </td>

            <td class="state">
                <%

                       tclass, title, icon = if site.verification.error?
                                                 ['danger', 'Error', 'fa-exclamation']
                                             elsif site.verification.failed?
                                                 ['danger', 'Failed', 'fa-close']
                                             elsif site.verification.pending?
                                                 ['info', 'Pending', 'fa-question']
                                             elsif site.verification.started?
                                                 ['primary', 'In progress', 'fa-spinner fa-spin']
                                             end
                %>
                <%= link_to verification_site_path( site ), title: title do %>
                    <span class="text-<%= tclass %>">
                        <i class="fa <%= icon %>"></i>

                        <%= title %>

                        <% if site.verification.message %>
                            : <%= site.verification.message %>
                        <% end %>
                    </span>
                <% end %>
            </td>

            <td>
                <% if policy(site).edit? %>
                    <%= link_to edit_site_path( site ) , class: 'btn btn-sm btn-warning' do %>
                        <i class="fa fa-pencil"></i>
                    <% end %>
                <% end %>

                <% if policy(site).destroy? %>
                    <%= link_to site, method: :delete, class: 'btn btn-sm btn-danger',
                                data: { confirm: 'Are you sure?' } do %>
                        <i class="fa fa-trash"></i>
                    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
