<%
   title @site.url
   breadcrumb_add 'Sites', sites_path
%>

<div class="row">
    <div class="col-md-12">
        <h1>
            <%= link_to_url_with_external external: @site.url, internal: @site %>

            <%= link_to new_site_scan_path(@site), title: 'New scan',
                        class: 'btn btn-xs btn-primary' do %>
                <i class="fa fa-plus"></i>
            <% end %>

            <%= link_to @site, method: :delete, title: 'Delete site',
                        class: 'btn btn-xs btn-danger',
                        data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
            <% end %>
        </h1>
    </div>
</div>

<div id="site-tabs">
<% if @issues_summary %>
    <ul class="nav nav-tabs">
        <li class="<%= 'active' if @active_tab == 'overview' %>">
            <a href="#!/overview">
                Overview
            </a>
        </li>

        <li class="<%= 'active' if @active_tab == 'scans' %>">
            <a href="#!/scans">
                Scans
            </a>
        </li>

        <li class="<%= 'active' if @active_tab == 'roles' %>">
            <a href="#!/roles">
                Roles
            </a>
        </li>

        <li class="<%= 'active' if @active_tab == 'settings' %>">
            <a href="#!/settings">
                Settings
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane <%= 'active' if @active_tab == 'overview' %>" id="overview">
            <div class="row">
                <div id="sidebar" class="col-md-2">
                    <%= render partial: 'sidebar' %>
                </div>

                <div id="scan-data" class="col-md-10">
                    <%= render partial: 'shared/issues_summary' %>
                </div>
            </div>
        </div>

        <div class="tab-pane <%= 'active' if @active_tab == 'scans' %>" id="scans">
            <%= render partial: 'scans/tables' %>
        </div>

        <div data-js="<%= site_roles_path( @site ) %>"
            class="tab-pane <%= 'active' if @active_tab == 'roles' %>"
            id="roles">
            Roles.
        </div>

        <div class="tab-pane <%= 'active' if @active_tab == 'settings' %>" id="settings">
            <div class="row">
                <div class="col-md-2">
                    <%= render partial: 'sites/profile/sidebar' %>
                </div>
                <div class="col-md-10">
                    <%= render partial: 'sites/profile/form' %>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <ul class="nav nav-tabs">
        <li class="<%= 'active' if @active_tab == 'scan-form' %>">
            <a href="#!/scan-form">
                New scan
            </a>
        </li>

        <li class="<%= 'active' if @active_tab == 'roles' %>">
            <a href="#!/roles">
                Roles
            </a>
        </li>

        <li class="<%= 'active' if @active_tab == 'settings' %>">
            <a href="#!/settings">
                Settings
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane <%= 'active' if @active_tab == 'scan-form' %>" id="scan-form">
            <div class="row">
                <div class="col-md-12">
                    <%= render 'scans/form' %>
                </div>
            </div>
        </div>

        <div data-js="<%= site_roles_path( @site ) %>"
             class="tab-pane <%= 'active' if @active_tab == 'roles' %>"
             id="roles">
            Roles.
        </div>

        <div class="tab-pane <%= 'active' if @active_tab == 'settings' %>" id="settings">
            <div class="row">
                <div class="col-md-2">
                    <%= render partial: 'sites/profile/sidebar' %>
                </div>
                <div class="col-md-10">
                    <%= render partial: 'sites/profile/form' %>
                </div>
            </div>
        </div>
    </div>

<% end %>
</div>
