<%
   title @site.url
   breadcrumb_add 'Sites', sites_path
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row" id="site-info">
    <div class="col-md-12">
        <%= render partial: 'shared/scan_heading' %>

        <% if lr = @site.last_revision %>
            <div class="text-muted" id="site-info-details">
                <%= render partial: '/shared/scan_info', locals: {
                        extended: true,
                        scan:     @site.last_revision.scan
                } %>

                <% if lr = @site.last_revision %>
                    <%= render partial: '/shared/revision_info', locals: {
                            extended: true,
                            revision: lr
                    } %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'shared/scan_results' %>
