<%
   title params[:action].capitalize
   breadcrumb_add 'Sites', sites_path
   breadcrumb_add @site, site_path( @site )
%>

<% add_to_sidebar do %>
    <%= render partial: 'sidebar' %>
<% end %>

<div class="row" id="site-info">
    <div class="col-md-12">
        <%= render partial: 'shared/scan_heading' %>

        <% if lr = @site.last_revision %>
            <div class="help-block" id="site-info-details">
                <%= render partial: '/shared/scan_info', locals: {
                        extended: true,
                        scan:     lr.scan
                } %>

                <%= render partial: '/shared/revision_info', locals: {
                        revision: lr,
                        extended: true,
                } %>
            </div>
        <% end %>
    </div>
</div>

<%= render 'shared/scan_results' %>
