<div class="row">
    <div class="col-md-12">
        <h1>
            <%= link_to_url_with_external external: @site.url, internal: @site %>

            <%= link_to new_site_scan_path(@site), title: 'New scan',
                        class: 'btn btn-xs btn-primary' do %>
                <i class="fa fa-plus"></i>
            <% end %>

            <%= link_to @site, method: :delete, title: 'Delete site',
                        class: 'btn btn-xs btn-danger',
                        data: { confirm: 'Are you sure?' } do %>
                <i class="fa fa-trash"></i>
            <% end %>
        </h1>
    </div>
</div>

<% if @issues_summary %>
    <div id="site-tabs">
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#overview" role="tab"
                   <%= 'data-toggle="tab"'.html_safe if @site.scanned? %>
                >
                    Overview
                </a>
            </li>

            <li class="<%= 'disabled' if !@site.scanned? %>">
                <a href="#scans" role="tab"
                   <%= 'data-toggle="tab"'.html_safe if @site.scanned? %>
                >
                    Scans
                </a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="overview">
                <div class="row">
                    <div id="sidebar" class="col-md-2">
                        <%= render partial: 'sidebar' %>
                    </div>

                    <div id="scan-data" class="col-md-10">
                        <%= render partial: 'shared/issues_summary' %>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="scans">
                <%= render partial: 'scans/tables' %>
            </div>
        </div>
    </div>
<% else %>
    <h2>Create a scan</h2>
    <%= render 'scans/form' %>
<% end %>
