<% if frame.line.to_i > 0 && frame.url == page.dom.url %>
    <h5>
        <a id="<%= id %>-source-page" href="<%= id_to_location id %>/source/page">
            Page
        </a>
    </h5>

    <%=
        code_highlight(
                page.dom.body, :html,
                from:         frame.line - 5,
                to:           frame.line + 5,
                anchor_id:    "#{id}-source-page",
                breakpoint:   frame.line - 2,
                line_numbers: true
        )
    %>
<% end %>

<% if !frame.function.source.to_s.empty? %>
    <h5>
        <a id="<%= id %>-source-function" href="<%= id_to_location id %>/source/function">
            Function
        </a>
    </h5>

    <%= code_highlight( frame.function.source, :javascript,
                        line_numbers: true,
                        anchor_id:    "#{id}-source-function" ) %>
<% end %>
