<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= "#{yield( :title )} - " if content_for?( :title ) %>
        <%= "#{title_breadcrumbs} - " if !title_breadcrumbs.empty? %>
        SCNR::Pro
    </title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'SCNR Pro' %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body id="top">

<div id="loading" class="progress progress-striped active">
    <div class="progress-bar"></div>
</div>

<header>
    <%= render 'layouts/navigation' %>
</header>

<main role="main">
    <div class="row">

        <%
           offset = nil
           size   = 12
        %>

        <% if sidebar %>
            <div id="sidebar" class="col-md-2">
                <%= sidebar %>
            </div>

            <%
               offset = 'col-md-offset-2'
               size = 10
            %>
        <% end %>

        <div class="col-md-<%= size %> <%= offset %>">
            <%= render 'layouts/messages' %>
            <%= yield %>
        </div>
    </div>
</main>
</body>
</html>
